<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/css/login.css}" />
</head>
<script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
<th:block>
  <header>
    <h1>LOGIN FORM</h1>
  </header>
  <div class="login-wrap">
    <form th:action="@{/common/login}" method="POST">
      <div class="input-box">
        <input
                id="mem_id"
                name="mem_id"
                type="text"
                placeholder="아이디"
                required
        />
        <label for="mem_Id">아이디</label>
      </div>
      <div class="input-box">
        <input
                id="memPw"
                name="mem_pw"
                type="password"
                placeholder="비밀번호"
                required
        />
        <label for="memPw">비밀번호</label>
        <div id="keyShow" style="cursor: pointer">HIDE password</div>
      </div>
      <div class="select">
        <input style="cursor: pointer" type="checkbox" id="chk" name="remember-me" />
        아이디 기억하기
      </div>
        <button type="submit" class="logIn" id="logIn">로그인</button>
<!--        <a th:href="@{/main/main}">메인으로</a>-->
      </form>
    </div>
</th:block>
  <script src="/js/member.js"></script>

<script>
  $(document).ready(function(){

    // 저장된 쿠키값을 가져와서 ID 칸에 넣어준다. 없으면 공백으로 들어감.
    let key = getCookie("key");
    $("#mem_id").val(key);

    if($("#mem_id").val() != ""){ // 그 전에 ID를 저장해서 처음 페이지 로딩 시, 입력 칸에 저장된 ID가 표시된 상태라면,
      $("#chk").attr("checked", true); // ID 저장하기를 체크 상태로 두기.
    }

    $("#chk").change(function(){ // 체크박스에 변화가 있다면,
      if($("#chk").is(":checked")){ // ID 저장하기 체크했을 때,
        setCookie("key", $("#mem_id").val(), 7); // 7일 동안 쿠키 보관
      }else{ // ID 저장하기 체크 해제 시,
        deleteCookie("key");
      }
    });

    // ID 저장하기를 체크한 상태에서 ID를 입력하는 경우, 이럴 때도 쿠키 저장.
    $("#mem_id").keyup(function(){ // ID 입력 칸에 ID를 입력할 때,
      if($("#chk").is(":checked")){ // ID 저장하기를 체크한 상태라면,
        setCookie("key", $("#mem_id").val(), 7); // 7일 동안 쿠키 보관
      }
    });
  });

  //쿠키 저장
  function setCookie(cookieName, value, exdays){
    let exdate = new Date();
    exdate.setDate(exdate.getDate() + exdays);
    let cookieValue = escape(value) + ((exdays==null) ? "" : "; expires=" + exdate.toGMTString());
    document.cookie = cookieName + "=" + cookieValue;
  }

  //쿠키 삭제
  function deleteCookie(cookieName){
    let expireDate = new Date();
    expireDate.setDate(expireDate.getDate() - 1);
    document.cookie = cookieName + "= " + "; expires=" + expireDate.toGMTString();
  }

  //쿠키 가져오기
  function getCookie(cookieName) {
    cookieName = cookieName + '=';
    let cookieData = document.cookie;
    let start = cookieData.indexOf(cookieName);
    let cookieValue = '';
    if(start != -1){
      start += cookieName.length;
      let end = cookieData.indexOf(';', start);
      if(end == -1)end = cookieData.length;
      cookieValue = cookieData.substring(start, end);
    }
    return unescape(cookieValue);
  }

</script>
</html>
