<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>익명게시판:등록</title>
  <!-- include libraries(jQuery, bootstrap) -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!-- include summernote css/js -->
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
  <link rel="stylesheet" href="/css/common/basic.css">
  <link rel="stylesheet" href="/css/freeBoardRegist.css">
</head>
<body>
<div id="wrap" style="margin-top: -20px;">
  <div id="header">
    <h1 class="logo"><a href=""><img src="../../resources/images/logo.png" alt="로고 이미지"></a></h1>
    <ul class="lnb">
      <li><a href="">마이페이지</a></li>
      <li><a href="">로그아웃</a></li>
    </ul>
    <ul class="gnb">
      <li><a href="../notice/noticeList.html">공지사항</a></li>
      <li><a href="../../board/free/freeList.html">게시판</a></li>
      <li><a href="../../calendar/cd_main.html">일정관리</a></li>
      <li><a href="../../sign/testsignmain.html">전자결재</a></li>
      <li><a href="../../message/messageRecpBox.html">쪽지함</a></li>
      <li><a href="../../manage/emplManage/emplList.html">직원관리</a></li>
    </ul>
  </div>
  <div id="contents">
    <div id="sideBar">
      <h3>게시판</h3>
      <ul>
        <li class="main"><a href="@{board/freelist}">자유 게시판</a>
          <ul class="sub sub1">
            <li><a href="../free/freeList.html">자유 게시판</a></li>
            <li><a th:href="@{/board/eiboard/list}">익명 게시판</a></li>
          </ul>
        </li>
        <li class="main"><a href="#">업무 게시판</a>
          <ul class="sub sub2">
            <li><a href="#">부서별 공지사항</a></li>
            <li><a href="#">파일 게시판</a></li>
          </ul>
        </li>
      </ul>
      <div class="admin">
        <a href="../blacklist/blacklist management.html">게시판관리(관리자)</a>
      </div>
    </div>
    <div id="container">
      <h4> 익명 게시판</h4>
      <hr>
      <div class="topNotice">
        <img src="resources/images/circleMark.png" alt="">
        <span>부적절한 게시글 및 댓글의 경우 신고를 할수 있습니다. 신고가 누적되면 게시판 사용이 제한되오니 유의 바랍니다.</span>
      </div>
      <form th:action="@{/board/ei/insert}"method="post" >

        <input
                type="hidden"
                id="mem_num"
                name="mem_num"
                th:value="${ #authentication.getPrincipal().getMem_num() }">
        <table>
          <tr>

            <th>제목</th>
            <td><input type="text" name="title"></td>
          </tr>


          <tr>
            <th>등록자</th>
            <td>
              <span> 익명 </span>
            </td>
          </tr>
        </table>

        <textarea id="summernote" name="contents"></textarea>
        <button class="registBtn" >등록하기</button>

      </form>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    //여기 아래 부분
    $('#summernote').summernote({
      height: 500,                 // 에디터 높이
      focus: true,                  // 에디터 로딩후 포커스를 맞출지 여부
      lang: "ko-KR",					// 한글 설정
      placeholder: '게시글을 작성하세요',	//placeholder 설정
      toolbar: [
        ['fontname', ['fontname']],
        ['fontsize', ['fontsize']],
        ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
        ['color', ['forecolor','color']],
        ['para', ['ul', 'ol', 'paragraph']],
        ['height', ['height']]
      ],
      fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋움체','바탕체'],
      fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72']
    });
  });
</script>
</body>
</html>

