<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>자유게시판:상세조회</title>
    <link rel="shortcut icon" th:href="@{ /images/favicon.gif }" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/common/reset.css}">
    <link rel="stylesheet" th:href="@{/css/common/basic.css}">
    <link rel="stylesheet" th:href="@{/css/freelist/bordDetail.css}">
</head>
<body>
<div id="wrap">
    <div id="header">
        <h1 class="logo"><a href=""><img src="../../resources/images/logo.png" alt="로고 이미지"></a></h1>
        <ul class="lnb">
            <li><a href="">마이페이지</a></li>
            <li><a href="">로그아웃</a></li>
        </ul>
        <ul class="gnb">
            <li><a href="../notice/noticeList.html">공지사항</a></li>
            <li><a href="../../board/free/freeList.html">게시판</a></li>
            <li><a href="../../calendar/cd_main.html">일정관리</a></li>
            <li><a href="../../sign/testsignmain.html">전자결재</a></li>
            <li><a href="../../message/messageRecpBox.html">쪽지함</a></li>
            <li><a href="../../manage/emplManage/emplList.html">직원관리</a></li>
        </ul>
    </div>
    <div id="contents">
        <div id="sideBar" style="height:100%;">
            <h3>게시판</h3>
            <ul>
                <li class="main"><a href="../free/freeList.html">자유 게시판</a>
                    <ul class="sub sub1">
                        <li><a th:href="@{/board/list}">자유 게시판</a></li>
                        <li><a href="#">익명 게시판</a></li>
                    </ul>
                </li>
                <li class="main"><a href="#">업무 게시판</a>
                    <ul class="sub sub2">
                        <li><a href="#">부서별 공지사항</a></li>
                        <li><a href="#">파일 게시판</a></li>
                    </ul>
                </li>
            </ul>
            <div class="admin">
                <a href="../blacklist/blacklist management.html">게시판관리(관리자)</a>
            </div>
        </div>
        <div id="container">
            <h4>자유게시판</h4><hr>
            <div>
                <img th:src="@{/images/circleMark.png}" alt="">
                <span class="notice">부적절한 게시글 및 댓글의 경우 신고를 할 수 있습니다. 신고가 누적되면 게시판 사용이 제한되오니 유의 바랍니다.</span>
                <p class="title">
                    <span th:text="${ board.title }">제목확인</span><br>
                    <span class="writer" th:text="${ board.member.mem_name }">이름</span>
                    <span class="writer" th:text="${ board.department.dept_name }">부서명</span>
                    <span class="writer">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    <span> </span><span class="date" th:text="${ board.date }">22-09-19</span><br>
                </p>
                <div class="body">내용확인</div>
                    <form action="@{ /board/suggest }" method="post">
                    <div class="d-flex justify-content-end">
                        <div class="suggestBox">
                            <button class="suggest">추천</button>
                            <span>123</span>
                        </div>
                    </div>
                </form>
            </div>

            <div class="btnArea">
                <button class="list singo">신고</button>
                <button th:if="${#authentication.getPrincipal().getMem_num() eq board.member.mem_num }" class="list update"
                        th:onclick="|location.href='@{ /board/update(no=${ board.no }) }'|">수정</button>
                <button class="list delete" id="deleteBtn" onclick="removeCheck()">삭제</button>
                <button class="list">목록</button>
            </div>
                <div class="cmtBox">
                    <form id="commentForm" th:action="@{ /board/comment }" method="post">
                        <input type="text" class="cmt" id="comment-input" name="contents" placeholder="댓글을 입력해주세요.">
                        <input
                                type="hidden"
                                id="mem_num"
                                name="mem_num"
                                th:value="${ #authentication.getPrincipal().getMem_num() }">

                        <input
                                type="hidden"
                                id="board_no"
                                name="board_no"
                                th:value="${ board.no }">
                        <button class="bot">등록</button>
                    </form>
                </div>
                <table class="cmtTable" th:each="board : ${ comentList }">
                    <tr>
                        <td>
                            <span class="writer" th:text="${ board.member.mem_name }"></span>
                            <span class="writer">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                            <span> </span><span class="date" th:text="${ board.date }"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="writer" th:utext="${ board.contents }"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function removeCheck() {
        if(confirm("정말 삭제하시겠습니까?") == true){
            alert("삭제되었습니다.");
        } else {
            return false;
        }
    }
</script>
</body>
</html>



































































