<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>basic</title>
    <link rel="stylesheet" href="/css/common/reset.css">
    <link rel="stylesheet" href="/css/common/basic.css">
</head>
<body>
<div id="wrap">
    <div id="header">
        <h1 class="logo"><a href="../../main/main.html"><img src="../../images/logo.png" alt="로고 이미지"></a></h1>
        <ul class="lnb">
            <li><a href="../../common/mypage.html">마이페이지</a></li>
            <li><a href="../../">로그아웃</a></li>
        </ul>
        <ul class="gnb">
            <li><a href="../notice/list">공지사항</a></li>
            <li><a href="../board/list">게시판</a></li>
            <li><a href="../../calendar/cd_main.html">일정관리</a></li>
            <li><a href="../../sign/main">전자결재</a></li>
            <li><a href="../../ms/recp">쪽지함</a></li>
            <li><a href="../../manage/emplManage/emplList">직원관리</a></li>
        </ul>
    </div>
    <div id="contents">
            <div id="sideBar">
                <h3>게시판</h3>
                <ul>
                    <li class="main"><a href="#">자유 게시판</a>
                        <ul class="sub sub1">
                            <li><a href="#">자유 게시판</a></li>
                            <li><a href="#">익명 게시판</a></li>
                        </ul>
                    </li>
                    <li class="main"><a href="#">업무 게시판</a>
                        <ul class="sub sub2">
                            <li><a href="#">부서별 공지사항</a></li>
                            <li><a href="#">파일 게시판</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="admin"><a href="">게시판관리(관리자)</a></div>
            </div>
        <div id="container">
            <h4>자유게시판</h4><hr>
            <pre>
                    부적절한 게시글 및 댓글의 경우 신고 할 수있습니다. 신고가 누적되면 게시판 사용이 제한됩니다. </th>
                마음에 드는 게시글은 추천 버튼을 통해 추천할 수 있습니다.
                </pre>
            <p>전체 <span>10</span></p>
            <form action="">
                <div class="date">
                    <input type="date"> ~ <input type="date">
                </div>
                <select name="" id="">
                    <option value="제목">제목</option>
                    <option value="작성자">작성자</option>
                </select>
                <input type="search" name="" id="">
                <button>검색</button>
            </form>
            <table>
                <thead>
                <tr>
                    <th>
                        <input type="checkbox" id="" name="interest" value="check" />
                    </th>
                    <th>번호</th>
                    <th><img src="../../resources/images/clip.png"   alt="첨부파일"></th>
                    <th>제목</th>
                    <th>등록자</th>
                    <th>등록일</th>
                    <th>조회</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <input type="checkbox" id="check" name="interest" value="check" />
                    </td>
                    <td>999999</td>
                    <td><img src="../../resources/images/clip.png" alt="첨부파일"></td>
                    <td>폰트 및 정렬 확인용 텍스트 입니다</td>
                    <td>주이슬 인사팀</td>
                    <td>22-08-23</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="" name="interest" value="check" />
                    </td>
                    <td>999999</td>
                    <td><img src="../../resources/images/clip.png" alt="첨부파일"></td>
                    <td>폰트 및 정렬 확인용 텍스트 입니다</td>
                    <td>이현석 인사팀</td>
                    <td>22-08-23</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <div class="hs_table_foot">
                <input class="hs_board_lshift shiftbtn" type="button" value="<<">
                <input class="hs_board_left shiftbtn" type="button" value="<"><a class="hs_board_numbering">1</a>
                <input class="hs_board_right shiftbtn" type="button" value=">"><input class="hs_board_rshift shiftbtn" type="button" value=">>">
            </div>
            <!-- <div class="pagingArea">
                <button disabled><<</button>
                <button id="prevPage"><</button>
                <button disabled>1</button>
                <button onclick="pageButtonAction(this.innerText);">2</button>
                <button onclick="pageButtonAction(this.innerText);">3</button>
                <button onclick="pageButtonAction(this.innerText);">4</button>
                <button onclick="pageButtonAction(this.innerText);">5</button>
                <button disabled>></button>
                <button id="nextPage">>></button>
            </div> -->
        </div>
    </div>
</div>
    <script th:inline="javascript">
        //게시글 상세조회를 위한 스크립트
        if(document.querySelectorAll("#listArea td")){
            const $tds = document.querySelectorAll("#listArea td");
            for(let i = 0; i < $tds.length; i++){

                $tds[i].onmouseenter = function(){

                    this.parentNode.style.cursor = "pointer";
                }

                $tds[i].onclick = function() {
                    const no = this.parentNode.children[0].innerText;
                    location.href = "/board/detail?no=" + no;
                }
            }
        }
    </script>
</body>
</html>