<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.intranet.board.model.dao.BoardMapper" >

    <resultMap id="boardResultMap" type="com.ohgiraffers.intranet.board.model.dto.FreeinsertDTO">
        <id property="no" column="FR_NO"/>
        <result property="title" column="FR_TITLE"/>
        <result property="date" column="FR_DATE"/>
        <result property="views" column="FR_VIEWS"/>
        <result property="contents" column="FR_CONTENTS"/>
        <association property="member" column="MEM_NUM"/>
    </resultMap>

    <insert id="freeinsert" parameterMap="boardResultMap">
        insert
        INTO FR_FREE A(
            A.FR_NO
           ,A.FR_TITLE
           ,A.FR_DATE
           ,A.FR_VIEWS
           ,A.FR_CONTENTS
           ,A.MEM_NUM
           ) VALUES(
                    SEQ_FR_NO.NEXTVAL
                        ,#{title}
                        ,SYSDATE
                        ,DEFAULT
                        ,#{contetns}
                        ,3333
            )
    </insert>


</mapper>