<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.intranet.calendar.model.dao.CalendarMapper">

    <resultMap id="cdResultMap" type="com.ohgiraffers.intranet.calendar.model.dto.CalendarDTO">
        <id property="id" column="CD_NO"/>
        <result property="memNum" column="MEM_NUM"/>
        <result property="groupId" column="CD_GROUP"/>
        <result property="title" column="CD_TITLE"/>
        <result property="content" column="CD_CONTENT"/>
        <result property="start" column="CD_START"/>
        <result property="end" column="CD_END"/>
        <result property="allDay" column="CD_ALLDAY"/>
        <result property="color" column="CD_COLOR"/>
        <result property="type" column="CD_TYPE"/>
        <result property="wDate" column="CD_WDATE"/>
    </resultMap>

    <resultMap id="fkResultMap" type="com.ohgiraffers.intranet.calendar.model.dto.CalendarDTO">
        <id property="id" column="CD_NO"/>
        <result property="memNum" column="MEM_NUM"/>
        <result property="title" column="CD_TITLE"/>
        <result property="start" column="CD_START"/>
        <result property="type" column="CD_TYPE"/>
    </resultMap>

<!--    &lt;!&ndash; DB 전체 조회용 &ndash;&gt;-->
<!--    <select id="selectAllCalendar" resultMap="cdResultMap">-->
<!--        SELECT-->
<!--               *-->
<!--          FROM CD_CALENDAR A-->
<!--    </select>-->


    <select id="findAllSc" resultMap="cdResultMap">
        SELECT
               A.MEM_NUM
             , A.CD_NO
             , A.CD_GROUP
             , A.CD_TITLE
             , A.CD_CONTENT
             , A.CD_START
             , A.CD_END
             , A.CD_ALLDAY
             , A.CD_COLOR
             , A.CD_TYPE
             , A.CD_WDATE
          FROM CD_CALENDAR A
    </select>

    <!-- 필수값만 들어오는 ajax 전체조회 -->
    <select id="findAllCal" resultMap="cdResultMap">
        SELECT
               A.MEM_NUM
             , A.CD_NO
             , A.CD_GROUP
             , A.CD_TITLE
             , A.CD_CONTENT
             , A.CD_START
             , A.CD_END
             , A.CD_ALLDAY
             , A.CD_COLOR
             , A.CD_TYPE
             , A.CD_WDATE
          FROM CD_CALENDAR A
    </select>

    <!-- 캘린더 입력 -->
    <insert id="insertList" parameterType="com.ohgiraffers.intranet.calendar.model.dto.CalendarDTO">
        INSERT
        INTO CD_CALENDAR A
        (
          A.MEM_NUM
        , A.CD_NO
        , A.CD_GROUP
        , A.CD_TITLE
        , A.CD_CONTENT
        , A.CD_START
        , A.CD_END
        , A.CD_ALLDAY
        , A.CD_COLOR
        , A.CD_TYPE
        , A.CD_WDATE
        )
        VALUES
        (
          #{ memNum }
        , SEQ_CD_NO.NEXTVAL
        , 0
        , #{ title }
        , #{ content }
        , #{ start }
        , #{ end }
        , #{ allDay }
        , #{ color }
        , 1
        , #{ wDate }
        )

    </insert>

    <!-- 캘린더 상세조회 -->
    <update id="findCdCont" parameterType="long">
        UPDATE
               CD_CALENDAR A
           SET A.CD_NO = (SELECT B.CD_NO
                            FROM CD_CALENDAR B
                           WHERE
                              )


    </update>

    <!-- 캘린더 상세조회 -->
    <select id="selectCdDetail" resultMap="cdResultMap">
        SELECT
               A.MEM_NUM
             , A.CD_NO
             , A.CD_GROUP
             , A.CD_TITLE
             , A.CD_CONTENT
             , A.CD_START
             , A.CD_END
             , A.CD_ALLDAY
             , A.CD_COLOR
             , A.CD_TYPE
             , A.CD_WDATE
        FROM CD_CALENDAR A
       WHERE A.CD_NO = #{ id }
    </select>


</mapper>