<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.intranet.member.model.dao.MemberMapper">

    <resultMap id="MemberResultMap" type="com.ohgiraffers.intranet.member.model.dto.MemberDTO">
        <id property="mem_num" column="MEM_NUM"/>
        <result property="mem_id" column="MEM_ID"/>
        <result property="mem_pw" column="MEM_PW"/>
        <result property="mem_name" column="MEM_NAME"/>
        <result property="mem_phone" column="MEM_PHONE"/>
        <result property="mem_joinDate" column="MEM_JOINDATE"/>
        <result property="mem_birth" column="MEM_BIRTH"/>
        <result property="mem_email" column="MEM_EMAIL"/>
        <result property="mem_address" column="MEM_ADDRESS"/>
        <result property="dept_rank" column="DEPT_RANK"/>
        <result property="dept_code" column="DEPT_CODE"/>
        <result property="dept_name" column="DEPT_NAME"/>

        <collection property="authorit" resultMap="authoritResultMap"/>
    </resultMap>

    <resultMap id="authoritResultMap" type="com.ohgiraffers.intranet.authorManage.model.dto.AuthoritDTO">
        <result property="memNum" column="MEM_NUM"/>
        <result property="auCode" column="AU_CODE"/>
    </resultMap>

    <resultMap id="DepartmentMap" type="com.ohgiraffers.intranet.member.model.dto.DepartmentDTO">
            <id property="dept_code" column="DEPT_CODE"/>
            <result property="dept_name" column="DEPT_NAME"/>
    </resultMap>

    <select id="memberLogin" resultMap="MemberResultMap">
                SELECT
                       A.MEM_NUM
                     , A.MEM_ID
                     , A.MEM_PW
                     , A.MEM_NAME
                     , A.MEM_PHONE
                     , A.MEM_JOINDATE
                     , A.MEM_BIRTH
                     , A.MEM_EMAIL
                     , A.MEM_ADDRESS
                     , A.DEPT_RANK
                     , A.DEPT_CODE
                     , B.DEPT_NAME
                  FROM MEMBER A
                  JOIN DEPARTMENT B
                    ON (A.DEPT_CODE = B.DEPT_CODE)
                 WHERE A.MEM_ID = #{ mem_id }
    </select>

    <insert id="memberRegistInsert" parameterType="com.ohgiraffers.intranet.member.model.dto.MemberDTO">
                INSERT
                  INTO MEMBER A
                (
                  A.MEM_NUM
                , A.MEM_ID
                , A.MEM_PW
                , A.MEM_NAME
                , A.MEM_PHONE
                , A.MEM_JOINDATE
                , A.MEM_BIRTH
                , A.MEM_EMAIL
                , A.MEM_ADDRESS
                , A.DEPT_RANK
                , A.DEPT_CODE
                )
                VALUES
                (
                  #{ mem_num }
                , #{ mem_id }
                , #{ mem_pw }
                , #{ mem_name }
                , #{ mem_phone }
                , #{ mem_joinDate }
                , #{ mem_birth }
                , #{ mem_email }
                , #{ mem_address }
                , #{ dept_rank }
                , #{ dept_code }
                )
    </insert>

    <select id="findByMemberId" resultMap="MemberResultMap">
            SELECT
                   A.MEM_NUM
                 , A.MEM_ID
                 , A.MEM_PW
                 , A.MEM_NAME
                 , A.MEM_PHONE
                 , A.MEM_JOINDATE
                 , A.MEM_BIRTH
                 , A.MEM_EMAIL
                 , A.MEM_ADDRESS
                 , A.DEPT_RANK
                 , A.DEPT_CODE
                 , B.DEPT_NAME
              FROM MEMBER A
              JOIN DEPARTMENT B
                ON (A.DEPT_CODE = B.DEPT_CODE)
             WHERE A.MEM_ID = #{ mem_id }
    </select>

    <select id="selectMemberListForCalendarManage" resultMap="MemberResultMap">
        SELECT
                A.*
            ,   B.AU_CODE
        FROM MEMBER A
        LEFT JOIN AUTHORIT B ON(A.MEM_NUM = B.MEM_NUM)
        ORDER BY A.MEM_NUM, B.AU_CODE
    </select>


</mapper>