<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.intranet.msBoard.model.dao.MsBoardMapper">
	
	<resultMap id="MsboardResultMap" type="com.ohgiraffers.intranet.msBoard.model.dto.MsBoardDTO">
		<id property="msNo" column="MS_NO" />
		<result property="msTitle" column="MS_TITLE" />
		<result property="sendName" column="MS_SEND_NAME" />
		<result property="recpName" column="MS_RECP_NAME" />
		<result property="sendDate" column="MS_SEND_DATE" />
		<result property="recpDate" column="MS_RECP_DATE" />
		<result property="msreadYnNo" column="MS_READ_YN" />
		<result property="gubun" column="MS_GUBUN" />
		<result property="memNum" column="MEM_NUM" />

<!-- 		<association property="memNum" resultMap="memberResultMap" /> -->
	</resultMap>

<!-- 	<resultMap type="MemberDTO" id="memberResultMap"> -->
<!-- 		<id property="mem_num" column="MS_NO" /> -->
<!-- 		<result property="mem_id" column="MS_TITLE" /> -->
<!-- 		<result property="mem_pw" column="MS_SEND_NAME" /> -->
<!-- 		<result property="mem_name" column="MS_RECP_NAME" /> -->
<!-- 		<result property="mem_phone" column="MS_SEND_DATE" /> -->
<!-- 		<result property="mem_joinDate" column="MS_RECP_DATE" /> -->
<!-- 		<result property="mem_birth" column="MS_READ_YN" /> -->
<!-- 		<result property="mem_email" column="MEM_EMAIL" /> -->
<!-- 		<result property="mem_address" column="MEM_ADDRESS" /> -->
<!-- 		<result property="dept_rank" column="DEPT_RANK" /> -->
<!-- 		<result property="dept_code" column="DEPT_CODE" /> -->
<!-- 	</resultMap> -->

	<resultMap type="com.ohgiraffers.intranet.msBoard.model.dto.MsFileDTO" id="MsFileResultMap">
		<id property="fileNo" column="MSF_NO" />
		<result property="originName" column="MSF_ORIGINAL_NAME" />
		<result property="saveName" column="MSF_SAVE_NAME" />
		<result property="savaPath" column="MSF_SAVE_PATH" />
		<result property="noDate" column="MSF_NODATE" />
		<result property="deleteYn" column="MS_NO" />

		<association property="msNo" resultMap="MsboardResultMap" />
	</resultMap>


	<select id="selectMsRecpBoard" resultMap="MsboardResultMap">
		SELECT
		  A.MS_NO
		, A.MS_TITLE
		, A.MS_SEND_NAME
		, A.MS_RECP_NAME
		, A.MS_SEND_DATE
		, A.MS_RECP_DATE
		, A.MS_READ_YN
		, A.MS_GUBUN
		, A.MEM_NUM
		FROM MS_BOARD A
	</select>
	
	

	<insert id="MsboardInsert">
		INSERT
		INTO MS_BOARD A
		(
		A.MS_NO
		, A.MS_TITLE
		, A.MS_SEND_NAME
		, A.MS_RECP_NAME
		, A.MS_SEND_DATE
		, A.MS_RECP_DATE
		, A.MS_READ_YN
		, A.MS_GUBUN
		, A.MEM_NUM
		)
		VALUES
		(
		SEQ_MS_NO.NEXTVAL
		, #{ msTitle }
		, #{ sendName }
		, #{ recpName }
		, #{ sendDate }
		, #{ recpDate }
		, #{ readYn }
		, #{ gubun }
		, #{ memNum }
		)
	</insert>


	<insert id="MsFileInsert">
		INSERT
		INTO MS_FILE A
		(
		A.MSF_NO
		, A.MSF_ORIGINAL_NAME
		, A.MSF_SAVE_NAME
		, A.MSF_SAVE_PATH
		, A.MSF_NODATE
		, A.MSF_NS_NO
		)
		VALUES
		(
		SEQ_MSF_NO.NEXTVAL
		, #{ originName }
		, #{ saveName
		}
		, #{ savaPath }
		, #{ noDate }
		, #{ msNo }
		)
		<selectKey keyProperty="msNo" resultType="_int"
			order="BEFORE">
			SELECT
			SEQ_MS_NO.CURRVAL
			FROM DUAL
		</selectKey>
	</insert>


	<delete id="MsBoardDelete">

		DELETE
		FROM MS_BOARD
		WHERE MS_NO = #{ msNo }

	</delete>
</mapper>