<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.ohgiraffers.intranet.msBoard.model.dao.MsBoardMapper">

	<resultMap id="MsboardResultMap" type="com.ohgiraffers.intranet.msBoard.model.dto.MsBoardDTO">
		<id property="msNo" column="MS_NO" />
		<result property="msTitle" column="MS_TITLE" />
		<result property="sendName" column="MS_SEND_NAME" />
		<result property="recpName" column="MS_RECP_NAME" />
		<result property="sendDate" column="MS_SEND_DATE" />
		<result property="recpDate" column="MS_RECP_DATE" />
		<result property="readYn" column="MS_READ_YN" />
		<result property="sendDel" column="MS_SEND_DEL" />
		<result property="recpDel" column="MS_RECP_DEL" />
		<result property="recpNum" column="MS_RECP_NUM" />
		<result property="contents" column="MS_CONTENTS" />
		<result property="sendNum" column="MS_SEND_NUM" />
		<result property="memNum" column="MEM_NUM" />
		<result property="sendreanYN" column="MS_SEND_YN" />
		<collection property="msFile" resultMap="MsFileResultMap"/>
	</resultMap>
	
	<resultMap type="com.ohgiraffers.intranet.member.model.dto.DepartmentDTO" id="deptResultMap">
		<id property="dept_code" column="DEPT_CODE" />
		<result property="dept_name" column="DEPT_NAME" />
	</resultMap>

	<resultMap type="MsMemberListDTO" id="memberResultMap">
		<id property="memNum" column="MEM_NUM" />
		<result property="name" column="MEM_NAME" />
		<result property="deptCode" column="DEPT_CODE" />
		<result property="deptName" column="DEPT_NAME" />
	</resultMap>

	<resultMap
		type="com.ohgiraffers.intranet.msBoard.model.dto.MsFileDTO"
		id="MsFileResultMap">
		<id property="fileNo" column="MSF_NO" />
		<result property="originName" column="MSF_ORIGINAL_NAME" />
		<result property="saveName" column="MSF_SAVE_NAME" />
		<result property="savePath" column="MSF_SAVE_PATH" />
		<result property="noDate" column="MSF_NODATE" />
		<result property="deleteYn" column="MSF_DELETE_YN" />
		<result property="refmsNo" column="MS_NO" />

	</resultMap>


	<select id="selectTotalCount" resultType="_int" parameterType="hashmap">
		SELECT
			 COUNT(*)
		FROM MS_BOARD A
		<where>
			<if test="searchCondition == 'msTitle'">
	            AND A.MS_TITLE  LIKE '%' || #{ searchValue } || '%'
			</if>
			<if test="searchCondition == 'sendName'">
				AND A.MS_SEND_NAME LIKE '%' || #{ searchValue } || '%'
			</if>
				AND A.MS_READ_YN = 'N'
				AND A.MS_RECP_NUM = #{ memNum }
				AND A.MS_RECP_DEL = 'N'
		</where>
	</select>

	<select id="selectMsRecpBoard" resultMap="MsboardResultMap" parameterType="hashmap">
		SELECT
			  A.RNUM
			, A.MS_NO
			, A.MS_TITLE
			, A.MS_SEND_NAME
			, A.MS_RECP_NAME
			, A.MS_SEND_DATE
			, A.MS_RECP_DATE
			, A.MS_READ_YN
			, A.MS_SEND_DEL
			, A.MS_RECP_DEL
			, A.MS_RECP_NUM
			, A.MS_CONTENTS
			, A.MS_SEND_NUM
			FROM(SELECT   ROWNUM RNUM
						, B.MS_NO
						, B.MS_TITLE
						, B.MS_SEND_NAME
						, B.MS_RECP_NAME
						, B.MS_SEND_DATE
						, B.MS_RECP_DATE
						, B.MS_READ_YN
						, B.MS_SEND_DEL
						, B.MS_RECP_DEL
						, B.MS_RECP_NUM
						, B.MS_CONTENTS
						, B.MS_SEND_NUM
						FROM(	SELECT 	  C.MS_NO
										, C.MS_TITLE
										, C.MS_SEND_NAME
										, C.MS_RECP_NAME
										, C.MS_SEND_DATE
										, C.MS_RECP_DATE
										, C.MS_READ_YN
										, C.MS_SEND_DEL
										, C.MS_RECP_DEL
										, C.MS_RECP_NUM
										, C.MS_CONTENTS
										, C.MS_SEND_NUM
									FROM  MS_BOARD C
									<where>

										<if test="selectCriteria.searchCondition == 'msTitle'">
							                AND   C.MS_TITLE  LIKE '%' || #{ selectCriteria.searchValue } || '%'
										</if>
										<if test="selectCriteria.searchCondition == 'sendName'">
											AND   C.MS_SEND_NAME LIKE '%' || #{ selectCriteria.searchValue } || '%'
										</if>
										<if test="selectCriteria.searchCondition == 'recpName'">
											AND   C.MS_RECP_NAME LIKE '%' || #{ selectCriteria.searchValue } || '%'
										</if>
											AND   C.MS_READ_YN = 'N'
											AND   C.MS_RECP_NUM = #{ memNum }
											AND   C.MS_RECP_DEL = 'N'
									</where>
									ORDER BY C.MS_NO DESC )B
							               <![CDATA[
							                  WHERE ROWNUM <= #{ selectCriteria.endRow }
							                  ]]>
						) A
						WHERE A.RNUM >= #{ selectCriteria.startRow }
					</select>

	<select id="selectSendTotalCount" resultType="_int"
		parameterType="hashmap">
		SELECT
		COUNT(*)
		FROM MS_BOARD A
		<where>
			<if test="searchCondition == 'msTitle'">
	            AND A.MS_TITLE  LIKE '%' || #{ searchValue } || '%'
			</if>
			<if test="searchCondition == 'sendName'">
				AND A.MS_SEND_NAME LIKE '%' || #{ searchValue } || '%'
			</if>
			<if test="searchCondition == 'recpName'">
				AND A.MS_RECP_NAME LIKE '%' || #{ searchValue } || '%'
			</if>
		        AND A.MS_SEND_NUM = #{ memNum }
		        AND A.MS_SEND_DEL = 'N'
		</where>
	</select>

	<select id="selectMsSendBoard" resultMap="MsboardResultMap" parameterType="hashmap">
		SELECT
		A.RNUM
		, A.MS_NO
		, A.MS_TITLE
		, A.MS_SEND_NAME
		, A.MS_RECP_NAME
		, A.MS_SEND_DATE
		, A.MS_RECP_DATE
		, A.MS_READ_YN
		, A.MS_SEND_YN
		, A.MS_SEND_DEL
		, A.MS_RECP_DEL
		, A.MS_RECP_NUM
		, A.MS_CONTENTS
		, A.MS_SEND_NUM
		FROM(SELECT ROWNUM RNUM
		, B.MS_NO
		, B.MS_TITLE
		, B.MS_SEND_NAME
		, B.MS_RECP_NAME
		, B.MS_SEND_DATE
		, B.MS_RECP_DATE
		, B.MS_READ_YN
		, B.MS_SEND_YN
		, B.MS_SEND_DEL
		, B.MS_RECP_DEL
		, B.MS_RECP_NUM
		, B.MS_CONTENTS
		, B.MS_SEND_NUM
		FROM(SELECT C.MS_NO
		, C.MS_TITLE
		, C.MS_SEND_NAME
		, C.MS_RECP_NAME
		, C.MS_SEND_DATE
		, C.MS_RECP_DATE
		, C.MS_READ_YN
		, C.MS_SEND_YN
		, C.MS_SEND_DEL
		, C.MS_RECP_DEL
		, C.MS_RECP_NUM
		, C.MS_CONTENTS
		, C.MS_SEND_NUM
		FROM MS_BOARD C
		<where>
			<if test="selectCriteria.searchCondition == 'msTitle'">
                AND   C.MS_TITLE  LIKE '%' || #{ selectCriteria.searchValue } || '%'
			</if>
			<if test="selectCriteria.searchCondition == 'sendName'">
				AND   C.MS_SEND_NAME LIKE '%' || #{ selectCriteria.searchValue } || '%'
			</if>
			<if test="selectCriteria.searchCondition == 'recpName'">
				AND   C.MS_RECP_NAME LIKE '%' || #{ selectCriteria.searchValue } || '%'
			</if>
			AND   C.MS_SEND_NUM = #{ memNum }
			AND   C.MS_SEND_DEL = 'N'
		</where>
		ORDER BY C.MS_NO DESC )B
			               <![CDATA[
			                  WHERE ROWNUM <= #{ selectCriteria.endRow }
			                  ]]>
		) A
		WHERE A.RNUM >= #{ selectCriteria.startRow }
	</select>

	<select id="selectAllRecpTotalCount" resultType="_int"
		parameterType="hashmap">
		SELECT
		COUNT(*)
		FROM MS_BOARD A
		<where>
			<if test="searchCondition == 'msTitle'">
	            AND A.MS_TITLE  LIKE '%' || #{ searchValue } || '%'
			</if>
			<if test="searchCondition == 'sendName'">
				AND A.MS_SEND_NAME LIKE '%' || #{ searchValue } || '%'
			</if>
			<if test="searchCondition == 'recpName'">
				AND A.MS_RECP_NAME LIKE '%' || #{ searchValue } || '%'
			</if>
		        AND A.MS_RECP_NUM = #{ memNum }
		        AND A.MS_RECP_DEL = 'N'
		        
		</where>
	</select>

	<select id="selectMsAllRecpBoard" resultMap="MsboardResultMap" parameterType="hashmap">
		SELECT
				A.RNUM
				, A.MS_NO
				, A.MS_TITLE
				, A.MS_SEND_NAME
				, A.MS_RECP_NAME
				, A.MS_SEND_DATE
				, A.MS_RECP_DATE
				, A.MS_READ_YN
				, A.MS_SEND_DEL
				, A.MS_RECP_DEL
				, A.MS_RECP_NUM
				, A.MS_CONTENTS
				, A.MS_SEND_NUM
				FROM(SELECT ROWNUM RNUM
						, B.MS_NO
						, B.MS_TITLE
						, B.MS_SEND_NAME
						, B.MS_RECP_NAME
						, B.MS_SEND_DATE
						, B.MS_RECP_DATE
						, B.MS_READ_YN
						, B.MS_SEND_DEL
						, B.MS_RECP_DEL
						, B.MS_RECP_NUM
						, B.MS_CONTENTS
						, B.MS_SEND_NUM
						FROM(SELECT C.MS_NO
						, C.MS_TITLE
						, C.MS_SEND_NAME
						, C.MS_RECP_NAME
						, C.MS_SEND_DATE
						, C.MS_RECP_DATE
						, C.MS_READ_YN
						, C.MS_SEND_DEL
						, C.MS_RECP_DEL
						, C.MS_RECP_NUM
						, C.MS_CONTENTS
						, C.MS_SEND_NUM
						FROM MS_BOARD C
						<where>
						<if test="selectCriteria.searchCondition == 'msTitle'">
			                   C.MS_TITLE  LIKE '%' || #{ selectCriteria.searchValue } || '%'
						</if>
						<if test="selectCriteria.searchCondition == 'sendName'">
							AND   C.MS_SEND_NAME LIKE '%' || #{ selectCriteria.searchValue } || '%'
						</if>
						<if test="selectCriteria.searchCondition == 'recpName'">
							AND   C.MS_RECP_NAME LIKE '%' || #{ selectCriteria.searchValue } || '%'
						</if>
							AND C.MS_RECP_NUM = #{ memNum }
							AND C.MS_RECP_DEL = 'N'
						</where>
						ORDER BY C.MS_NO DESC )B
							               <![CDATA[
							                  WHERE ROWNUM <= #{ selectCriteria.endRow }
							                  ]]>
						) A
						WHERE A.RNUM >= #{ selectCriteria.startRow }
					</select>

	<insert id="MsboardInsert">
		INSERT 
		INTO MS_BOARD A
		(
		  A.MS_NO
		, A.MS_TITLE
		, A.MS_CONTENTS
		, A.MS_SEND_NUM
		, A.MS_SEND_NAME
		, A.MS_RECP_NUM
		, A.MS_SEND_DATE
		, A.MEM_NUM
		)
		VALUES
		(
		SEQ_MS_NO.NEXTVAL
		, #{ msTitle }
		, #{ contents }
		, #{ sendNum }
		, #{ sendName }
		, #{ recpNum }
		, SYSDATE
		, #{ memNum }
		)
	</insert>
<!-- 	<insert id="MsrecpNameInsert" parameterType=""> -->
	
<!-- 	</insert> -->

	<insert id="MsFileInsert" parameterType="hashmap">
		INSERT
		INTO MS_FILE A
		(
		  A.MSF_NO
		, A.MSF_ORIGINAL_NAME
		, A.MSF_SAVE_NAME
		, A.MSF_SAVE_PATH
		, A.MSF_NODATE
		, A.MS_NO
		)
		VALUES
		(
		SEQ_MSF_NO.NEXTVAL
		, #{ originName }
		, #{ saveName }
		, #{ savePath }
		, SYSDATE
		, #{ refmsNo }
		)
		<selectKey keyProperty="refmsNo" resultType="_int" order="BEFORE">
			SELECT
			SEQ_MS_NO.CURRVAL
			FROM DUAL
		</selectKey>
	</insert>
	
	<select id="selectMsBoardDetail" resultMap="MsboardResultMap">
		SELECT
	      A.MS_NO
		, A.MS_TITLE
		, A.MS_SEND_NAME
		, A.MS_RECP_NAME
		, A.MS_SEND_DATE
		, A.MS_RECP_DATE
		, A.MS_CONTENTS
		, A.MS_READ_YN
		, A.MEM_NUM
        , B.MSF_ORIGINAL_NAME
        , B.MSF_SAVE_NAME
        , B.MSF_NO
		FROM MS_BOARD A
        LEFT JOIN MS_FILE B ON (A.MS_NO = B.MS_NO)
		WHERE A.MS_NO =	#{ msNo }
	</select>
	
	<select id="selectSendBoardDetail" resultMap="MsboardResultMap">
		SELECT
	      A.MS_NO
		, A.MS_TITLE
		, A.MS_SEND_NAME
		, A.MS_RECP_NAME
		, A.MS_SEND_DATE
		, A.MS_RECP_DATE
		, A.MS_CONTENTS
		, A.MS_READ_YN
		, A.MEM_NUM
        , B.MSF_ORIGINAL_NAME
        , B.MSF_SAVE_NAME
        , B.MSF_NO
		FROM MS_BOARD A
        LEFT JOIN MS_FILE B ON (A.MS_NO = B.MS_NO)
		WHERE A.MS_NO =	#{ msNo }
	</select>

	<update id="YNChangeMsBoard">
		UPDATE
		MS_BOARD A
		SET A.MS_READ_YN = 'Y'
		, A.MS_RECP_DATE = SYSDATE
		WHERE
		A.MS_NO = #{ msNo }
		AND A.MS_READ_YN = 'N'
	</update>
<!-- 비동기 처리를 하기위해서 만듬 ,보낸사람 부서 명 및 이름 NUM 을 가져오기 위한  -->

	<update id="YNSendChangeMsBoard">
		UPDATE
		MS_BOARD A
		SET A.MS_SEND_YN = 'Y'
		WHERE
		A.MS_NO = #{ msNo }
		AND A.MS_SEND_YN = 'N'
	</update>

	<select id="getdeptList" resultMap="deptResultMap">
		SELECT
		A.DEPT_CODE
		, A.DEPT_NAME
		FROM DEPARTMENT A
	</select>


	<select id="getMemberListt" resultMap="memberResultMap">
		SELECT
		A.MEM_NUM
		, A.MEM_NAME
		, A.DEPT_CODE
		, B.DEPT_NAME
		FROM MEMBER A
		JOIN DEPARTMENT B ON(A.DEPT_CODE =
		B.DEPT_CODE)
		WHERE B.DEPT_NAME = #{ deptName }
	</select>
	
	<select id="getMemberListSecond" resultMap="memberResultMap">
		SELECT
	      A.MEM_NUM
		, A.MEM_NAME
		, A.DEPT_CODE
		, B.DEPT_NAME
		FROM MEMBER A
		JOIN DEPARTMENT B ON(A.DEPT_CODE =
		B.DEPT_CODE)
		WHERE A.MEM_NAME = #{ name }
	</select>
	
	<update id="recpNameUpdate">
	 UPDATE MS_BOARD A 
		SET A.MS_RECP_NAME 
        = ( SELECT B.MEM_NAME
       FROM MEMBER B
      WHERE A.MS_RECP_NUM = B.MEM_NUM)
	</update>
	
	
	
	<!-- 진짜 삭제 버튼 지우기  -->
	<delete id="recpBoardDelete">
		DELETE
		FROM  MS_BOARD
		WHERE MS_NO = #{ msNo }
		  AND MS_RECP_DEL = 'Y'
		  AND MS_SEND_DEL = 'Y'
	</delete>
	
	<delete id="sendBoardDelete">
		DELETE
		FROM  MS_BOARD
		WHERE MS_NO = #{ msNo }
		  AND MS_RECP_DEL = 'Y'
		  AND MS_SEND_DEL = 'Y'
	</delete>
	
	<!-- 받는사람 삭제 여부 변경 업데이트-->
	<update id="recpYNMsBoard">
		UPDATE
		MS_BOARD A
		SET A.MS_RECP_DEL = 'Y'
		WHERE
			A.MS_NO = #{ msNo }
		AND A.MS_RECP_DEL = 'N'
	</update>
	<!-- 보낸사람 삭제 여부 변경 업데이트 -->
	<update id="sendYNMsBoard">
		UPDATE
		MS_BOARD A
		SET A.MS_SEND_DEL = 'Y'
		WHERE
		    A.MS_NO = #{ msNo }
		AND A.MS_SEND_DEL = 'N'
	</update>
	
	<!-- 파일 삭제  -->
	 <delete id="msFileDelete">
        DELETE
        FROM MS_FILE
        WHERE MS_NO = #{ msNo }
    </delete>
	


</mapper>