<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.intranet.sign.model.dao.SignMapper">
    <resultMap type="SignDTO" id="generalSignResultMap">
        <id property="signNo" column="SIGN_NO"/>
        <result property="signWriter" column="SIGN_WRITER"/>
        <result property="signTitle" column="SIGN_TITLE"/>
        <result property="signForm" column="SIGN_FORM"/>
        <result property="signContent" column="SIGN_CONTENT"/>
        <result property="regDate" column="REG_DATE"/>
        <result property="isTemp" column="IS_TEMP"/>

        <association property="writer" resultMap="memberResultMap"/>
        <collection property="approver" resultMap="approverResultMap"/>
        <collection property="receiver" resultMap="receiverResultMap"/>
        <collection property="referencer" resultMap="referencerResultMap"/>
        <collection property="fileList" resultMap="signFileResultMap"/>
    </resultMap>

    <resultMap type="ApproverDTO" id="approverResultMap">
        <id property="signNo" column="SIGN_NO"/>
        <result property="approverNo" column="APPROVER_NO"/>
        <result property="isApproved" column="IS_APPROVED"/>
        <result property="approveDate" column="APPROVE_DATE"/>
        <result property="opinion" column="OPINION"/>
        <result property="signType" column="SIGN_TYPE"/>
    </resultMap>

    <resultMap type="ReceiverDTO" id="receiverResultMap">
        <id property="signNo" column="SIGN_NO"/>
        <result property="receiverNo" column="RECEIVER_NO"/>
    </resultMap>

    <resultMap type="ReferencerDTO" id="referencerResultMap">
        <id property="signNo" column="SIGN_NO"/>
        <result property="referencerNo" column="REFERENCER_NO"/>
    </resultMap>

    <resultMap type="SignFileDTO" id="signFileResultMap">
        <id property="fileNo" column="SF_FILE_NO"/>
        <result property="originName" column="SF_ORIGIN_NAME"/>
        <result property="saveName" column="SF_SAVE_NAME"/>
        <result property="savePath" column="SF_SAVE_PATH"/>
        <result property="tempPath" column="SF_TEMP_PATH"/>
        <result property="deleteYn" column="SF_DELETE_YN"/>
        <result property="signNo" column="SIGN_NO"/>
    </resultMap>

    <resultMap type="MemberDTO" id="memberResultMap">
        <id property="mem_num" column="MEM_NUM"/>
        <result property="mem_id" column="MEM_ID"/>
        <result property="mem_pw" column="MEM_PW"/>
        <result property="mem_name" column="MEM_NAME"/>
        <result property="mem_phone" column="MEM_PHONE"/>
        <result property="mem_joinDate" column="MEM_JOINDATE"/>
        <result property="mem_birth" column="MEM_BIRTH"/>
        <result property="mem_email" column="MEM_EMAIL"/>
        <result property="mem_address" column="MEM_ADDRESS"/>
        <result property="dept_rank" column="DEPT_RANK"/>
        <result property="dept_code" column="DEPT_CODE"/>

    </resultMap>

    <select id="selectTotalWaitingCount" resultType="_int" parameterType="hashmap">
        SELECT
                COUNT(*)
          FROM APPROVER A
          JOIN SI_SIGN B ON(A.SIGN_NO = B.SIGN_NO)
        <where>
            AND A.APPROVER_NO = #{ mem_num }
            AND A.IS_APPROVED = 'N'
            AND B.IS_TEMP = 'N'
        </where>

    </select>

    <select id="selectWaitingList" resultMap="generalSignResultMap" parameterType="hashmap">
        SELECT
        A.RNUM
        , A.SIGN_NO
        , A.SIGN_TITLE
        , A.SIGN_WRITER
        , A.REG_DATE
        , D.MEM_NAME
        , D.DEPT_CODE
        FROM (SELECT ROWNUM RNUM
        , B.SIGN_NO
        , B.SIGN_TITLE
        , B.SIGN_WRITER
        , B.REG_DATE
        FROM (SELECT C.SIGN_NO
        , C.SIGN_TITLE
        , C.SIGN_WRITER
        , C.REG_DATE
        FROM SI_SIGN C
        JOIN APPROVER F ON(C.SIGN_NO = F.SIGN_NO)
        <where>AND F.APPROVER_NO = #{ mem_num }
            AND F.IS_APPROVED = 'N'
            AND C.IS_TEMP = 'N'
        </where>
        ORDER BY C.SIGN_NO DESC
        ) B
        <![CDATA[
                  WHERE ROWNUM <= #{ selectCriteria.endRow }
                  ]]>
        ) A
        JOIN MEMBER D ON (A.SIGN_WRITER = D.MEM_NUM)
        /*JOIN DEPARTMENT E ON(D.DEPT_CODE = E.DEPT_CODE)*/
        WHERE A.RNUM >= #{ selectCriteria.startRow }
        ORDER BY 1 ASC
    </select>

</mapper>
