@charset "utf-8";
#contents{height: 955px;}
#contents div{float: left;}
#contents #container{margin: 36px 0 0 60px; width: 1550px; font-size: 20px; position: relative;}

#contents #container h4{font-size: 20px;}
#contents #container hr{width: 1550px; margin-top: 7px;}

#contents #container p{line-height: 50px; position: absolute; left: 0;top: 178px;}

#contents #container .search{float: left;width: 1550px; line-height: 100px; background: #eee; position: relative; top: 16px; margin-bottom: 102px;}
#contents #container .search label{margin-left: 15px;}
#contents #container .search select{width: 130px; height: 32px; font-size: 17px; text-align: center;}
#contents #container .search .pa_date {width:240px; line-height: 28px; font-size: 17px; text-align: center;}
#contents #container .search button{width: 80px; height: 34px;border: none; cursor: pointer; background-color: #000; color: #fff; position: absolute; top: 35px; left: 450px;}

#contents #container .btnArea{position: absolute; top: 200px; right: 0;}
#contents #container .btnArea button {width: 80px; height: 34px;border: none; cursor: pointer; background-color: #fff; color: #000; border: 1px solid #000;}

#contents #container table{border-collapse: collapse; width: 1550px; font-size: 18px;text-align: center;}
#contents #container table tr th{background:#ffece6;}
#contents #container table tr th:first-child{width: 530px;}
th, td{border: 1px solid #ddd; border-left: none;}

th:last-child, td:last-child{border-right: none;}

#contents #container table tr th:first-child{width: 50px;}

#contents #container table tr{height: 38px;}
#contents #container table tbody tr td{font-size: 15px; font-family: 'nanumGothic';}

.inputSearch{width:140px; height: 32px; font-size: 17px;}