<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" th:href="@{/css/mypage.css}">
  <link rel="stylesheet" th:href="@{/css/common/reset.css}">
  <link rel="stylesheet" th:href="@{/css/common/basic.css}">
  <title>Document</title>
</head>
<body>
<div id="wrap">
  <div th:replace="common/header.html"></div>
  <div id="contents">
    <div id="sideBar">
      <h3>공지사항</h3>
      <ul>
        <li class="main">
          <a th:href="@{/notice/list}">공지사항</a>
        </li>
        <li class="main">
          <a th:href="@{/notice/news/list}">사내소식</a>
        </li>
        <li class="main">
          <a href="">갤러리</a>
        </li>
      </ul>
    </div>
    <div id="myPage">
      <form action="get">
        <table>
          <thead>
          <tr>
            <th style="text-align: center">마이페이지</th>
            <th style="text-align: center">개인정보 조회</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td style="padding-right: 100px;">이름</td>
            <td style="padding-right: 450px;"><span th:text="${ #authentication.getPrincipal().getMem_name() }"></span></td>
          </tr>
          <tr>
            <td>전화번호</td>
            <td><span th:text="${ #authentication.getPrincipal().getMem_phone() }"></span></td>
          </tr>
          <tr>
            <td>이메일</td>
            <td><span th:text="${ #authentication.getPrincipal().getMem_email() }"></span></td>
          </tr>
          <tr>
            <td>사원번호</td>
            <td><span th:text="${ #authentication.getPrincipal().getMem_num() }"></span></td>
          </tr>
          <tr>
            <td>주소</td>
            <td><span th:text="${ #authentication.getPrincipal().getMem_address() }"></span></td>
          </tr>
          <tr>
            <td>부서명</td>
            <td><span th:text="${ #authentication.getPrincipal().getDepartment().getDept_name() }"></span></td>
          </tr>
          </tbody>
        </table>
      </form>
        <button>개인정보 수정</button>
    </div>
</body>
</html>
