<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" th:href="@{/css/mypage.css}">
  <link rel="stylesheet" th:href="@{/css/common/reset.css}">
  <link rel="stylesheet" th:href="@{/css/common/basic.css}">
  <title>Document</title>
</head>
<th:block>
<div id="wrap">
  <div th:replace="common/header.html"></div>
  <div id="contents">
    <div id="sideBar">
      <h3>공지사항</h3>
      <ul>
        <li class="main">
          <a th:href="@{/notice/list}">공지사항</a>
        </li>
        <li class="main">
          <a th:href="@{/notice/news/list}">사내소식</a>
        </li>
        <li class="main">
          <a href="">갤러리</a>
        </li>
      </ul>
    </div>
    <div id="myPage">
      <form action="get">
        <table>
          <thead>
          <tr>
            <th style="text-align: center; font-size:1.3rem">마이페이지</th>
            <th style="text-align: center; font-size:1.3rem">개인정보 조회</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td style="padding-right: 200px;">이름</td>
            <td style="padding-right: 450px;"><span th:text="${ #authentication.getPrincipal().getMem_name() }"></span></td>
          </tr>
          <tr>
            <td>전화번호</td>
            <td><span th:text="${ #authentication.getPrincipal().getMem_phone() }"></span></td>
          </tr>
          <tr>
            <td>이메일</td>
            <td><span th:text="${ #authentication.getPrincipal().getMem_email() }"></span></td>
          </tr>
          <tr>
            <td>주소</td>
            <td><span th:text="${ #authentication.getPrincipal().getMem_address() }"></span></td>
          </tr>
          <tr>
            <td>사원번호</td>
            <td><span th:text="${ #authentication.getPrincipal().getMem_num() }"></span></td>
          </tr>
          <tr>
            <td>부서명</td>
            <td><span th:text="${ #authentication.getPrincipal().getDepartment().getDept_name() }"></span></td>
          </tr>
          <tr>
            <td>직급</td>
            <td><span th:text="${ #authentication.getPrincipal().getDept_rank() }"></span></td>
          </tr>
          </tbody>
        </table>
      </form>
      <button th:onclick="|location.href='@{/member/mypageUpdate}'|">개인정보 수정</button>
    </div>
    <div>
       <a href="javascript:showPopUp()"><img src="">채팅창</a>
    </div>
  </div>
</div>
  <script type="text/javascript">
    function showPopUp() {

      //창 크기 지정
      let width = 550;
      let height = 910;

      //pc화면기준 가운데 정렬
      let left = (window.screen.width / 2) - (width/2);
      let top = (window.screen.height / 4);

      //윈도우 속성 지정
      let windowStatus = 'width='+width+', height='+height+', left='+left+', top='+top+', resizable=yes';

      //연결하고싶은url
      const url = "https://intranetchat.run.goorm.io";

      //등록된 url 및 window 속성 기준으로 팝업창을 연다.
      window.open(url, "hello popup", windowStatus);
    }
  </script>
</th:block>
</html>
