<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/regist.css}" />
</head>
<script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<th:block>
<header>
    <h1>Regist Form</h1>
</header>
<div class="regist-wrap">
    <form th:action="@{/member/regist}" method="post">
        <div class="input-box">
            <input
                    id="mem_id"
                    name="mem_id"
                    type="text"
                    placeholder="아이디"
                    required
            />
            <label for="mem_id">아이디</label>
            <button id="checkDup" style="width: 350px; height:30px; font-size: 0.9rem;">
                아이디 중복 체크</button>
        </div>
        <div class="input-box">
            <input
                    id="memPw"
                    name="mem_pw"
                    type="password"
                    placeholder="비밀번호"
                    required
            />
            <div id="keyShow" style="cursor: pointer">HIDE password</div>
            <label for="memPw">비밀번호</label>
        </div>
        <div class="input-box">
            <input
                    id="memName"
                    name="mem_name"
                    type="text"
                    placeholder="이름"
                    required
            />
            <label for="memName">이름</label>
        </div>
        <div class="input-box">
            <input
                    id="memPhone"
                    name="mem_phone"
                    type="text"
                    placeholder="전화번호"
                    oninput="autoHypen(this)"
                    maxlength="13"
                    required
            />
            <label for="memPhone">전화번호</label>
        </div>
        <div class="input-box-select">
            <input
                    id="memDept"
                    name="dept_code"
                    type="text"
                    placeholder="부서코드"
                    required
            />
            <select id="memDepart" onchange="selectBoxChange(this.value);">
                <option value="">부서 선택</option>
                <option value="D1">인사부</option>
                <option value="D2">기술지원부</option>
                <option value="D3">영업1부</option>
                <option value="D4">영업2부</option>
                <option value="D5">사업부</option>
            </select>
            <label for="memDept"></label>
        </div>
        <div class="input-box">
            <input
                    id="memJoinDate"
                    name="mem_joinDate"
                    type="date"
                    placeholder="입사일자"
                    required
            />
            <label for="memJoinDate">입사일자</label>
        </div>
            <div class="input-box">
                <input
                        id="memDepartNum"
                        name="mem_num"
                        type="text"
                        placeholder="사원번호"
                        required
                />
                <label for="memDepartNum">사원번호</label>
            </div>
            <div class="input-box">
                <input
                        id="memBirth"
                        name="mem_birth"
                        type="date"
                        placeholder="생년월일"
                        maxlength="10"
                        required
                />
                <label for="memBirth">생년월일</label>
            </div>
            <div class="input-box">
                <input
                        id="memEmail"
                        name="mem_email"
                        type="text"
                        placeholder="개인 이메일"
                        required
                />
                <label for="memEmail">개인 이메일</label>
            </div>
            <div class="input-box">
                <input
                        id="dept_rank"
                        name="dept_rank"
                        type="text"
                        placeholder="임시직급"
                        required
                />
                <label for="dept_rank">직급</label>
            </div>
            <div class="input-box">
                <input
                        type="text"
                        id="sample6_postcode"
                        name="sample6_postcode"
                        placeholder="우편번호"
                        required
                />
                <label for="sample6_postcode">우편번호</label>
                <button
                        class="postcode"
                        onclick="sample6_execDaumPostcode()"
                        value="우편번호 찾기"
                >
                    우편번호 찾기
                </button>
            </div>
            <div class="input-box">
                <input type="text" id="memAddre" name="mem_address" placeholder="주소" />
                <label for="memAddre">주소</label>
            </div>
            <div class="input-box">
                <input
                        type="text"
                        id="sample6_detailAddress"
                        name="mem_address2"
                        placeholder="상세주소"
                        required
                />
                <label for="sample6_detailAddress">상세주소</label>
            </div>
            <div class="input-box">
                <input type="text" id="sample6_extraAddress" placeholder="참고항목" />
                <label for="sample6_extraAddress">참고항목</label>
            </div>

            <button class="join" id="regist">회원가입</button>
    </form>

    <button th:onclick="|location.href='@{/member/login}'|"
             class="logIn" id="logIn">뒤로가기</button>

</div>
</th:block>
<script type="text/javascript" th:src="@{/js/member.js}"></script>
</html>
