<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>사내소식</title>
    <link rel="shortcut icon" th:href="@{ /images/favicon.gif }" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/common/reset.css}">
    <link rel="stylesheet" th:href="@{/css/common/basic.css}">
    <link rel="stylesheet" th:href="@{/css/news/newsList.css}">
</head>
<body>
<div id="wrap">
    <div th:replace="common/header.html"></div>
    <div id="contents">
        <div id="sideBar">
            <h3>공지사항</h3>
            <ul>
                <li class="main">
                    <a th:href="@{/notice/list}">공지사항</a>
                </li>
                <li class="main">
                    <a th:href="@{/notice/news/list}">사내소식</a>
                </li>
                <li class="main">
                    <a th:href="@{/notice/gallery/list}">갤러리</a>
                </li>
            </ul>
        </div>
        <div id="container">
            <h4>사내소식</h4><hr>
            <p>전체 <span th:text="${ selectCriteria.totalCount }"></span></p>
            <form th:action="@{/notice/news/list}" method="get">
                <input type="hidden" name="currentPage" value="1">
                <!--                    <div class="date">-->
                <!--                        <input type="date"> ~ <input type="date">-->
                <!--                    </div>-->
                <select name="searchCondition" id="searchCondition">
                    <option value="title" th:selected="${ selectCriteria.getSearchCondition() == 'title'}">제목</option>
                    <option value="writer" th:selected="${ selectCriteria.getSearchCondition() == 'writer'}">작성자</option>
                </select>
                <input type="search" name="searchValue" id="searchValue" th:value="${ selectCriteria.getSearchValue() }">
                <button>검색</button>
            </form>
            <table id="listArea">
                <thead>
                <tr>
                    <th>번호</th>
                    <th><img th:src="@{/images/clip.png}" alt="첨부파일"></th>
                    <th>제목</th>
                    <th>등록자</th>
                    <th>등록일</th>
                    <th>조회</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="news : ${ newsList }">
                    <td th:text="${ news.no }"></td>
                    <td th:if="${ news.file.originName != null }"><img th:src="@{/images/clip.png}" alt="첨부파일"></td>
                    <td th:if="${ news.file.originName == null }"></td>
                    <td th:text="${ news.title }"></td>
                    <td><span th:text="${ news.member.mem_name}"></span>&nbsp;<span th:text="${ news.getDept().dept_name }"/></td>
                    <td th:text="${ news.date }"></td>
                    <td th:text="${ news.views }"></td>
                </tr>
                </tbody>
            </table>
            <th:block sec:authorize="hasRole('ROLE_NT_ALL')">
                <button class="registBtn" onclick="location.href='/notice/news/regist'">등록하기</button>
            </th:block>
            <div th:replace="/notice/news/paging";></div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    //게시글 상세조회를 위한 스크립트
    if(document.querySelectorAll("#listArea td")){
        const $tds = document.querySelectorAll("#listArea td");
        for(let i = 0; i < $tds.length; i++){

            $tds[i].onmouseenter = function(){

                this.parentNode.style.cursor = "pointer";
            }

            $tds[i].onclick = function() {
                const no = this.parentNode.children[0].innerText;
                location.href = "/notice/news/detail?no=" + no;
            }
        }
    }

    //게시글 수정 완료 시 알럿창 띄우기
    let message = [[${message}]];

    if(message != null && message !== '') {
        alert(message);
    }
</script>
</body>
</html>