@charset "utf-8";
#contents{height: 955px;}
#contents div{float: left;}
#contents #container{margin: 36px 0 0 60px; width: 1550px; font-size: 20px; position: relative;}

#contents #container h4{font-size: 20px;}
#contents #container hr{width: 1550px; margin-top: 7px;}

#contents #container p{line-height: 50px; position: absolute; left: 0;top: 153px;}
#contents #container p span{color: #e25f27;}

#contents #container form{line-height: 50px; float: left;position: absolute;right: 0; top: 90px;}
#contents #container form .date{margin-right: 30px;}
#contents #container form input[type="date"]{width: 140px; line-height: 28px; font-size: 17px; border: 1px solid #999; border-radius: 5px;}
#contents #container form select{height: 32px; width: 90px; font-size: 17px; border-radius: 5px; padding-top:1px;}
#contents #container form input[type="search"]{width: 160px; height: 32px; font-size: 17px; padding: 3px; border-radius: 5px; border: 1px solid #999;padding-bottom:1px;}
#contents #container form button{width: 50px; line-height: 34px; border-radius: 5px; border: none; cursor: pointer; background-color: #FFA57E; color: #fff;}
#contents #container form button:hover{background-color: #e25f27; transition: all .5s;}

#contents #container .excelDown{width: 110px; height: 40px; font-size: 15px; border: none; background-color: #333; color:#fff; position: absolute; right: 0; top: 163px;
    cursor:pointer;}

#contents #container .scroll{margin-top : 171px;height: 600px; overflow: auto;}
#contents #container table{border-collapse: collapse; width: 1535px; font-size: 18px; }
#contents #container table thead{background-color: #fff; position:sticky; top: 0; background-color: #ffece6;}
#contents #container table thead tr th:first-child{width: 115px;}
#contents #container table thead tr th:nth-child(2){width: 115px;}
#contents #container table thead tr th:nth-child(3){width: 125px;}
#contents #container table thead tr th:nth-child(4){width: 145px;}
#contents #container table thead tr th:nth-child(5){width: 145px;}
#contents #container table thead tr th:nth-child(6){width: 165px;}
#contents #container table thead tr th:nth-child(7){width: 205px;}

#contents #container table tr{height: 38px; text-align: center;}
#contents #container table tbody tr td{font-size: 15px; font-family: 'nanumGothic';}
#contents #container table tbody tr td .name:hover{text-decoration: underline;}
#contents #container table tbody tr:nth-child(odd){background:rgba(238, 238, 238, 0.384);}
#contents #container table tbody tr:last-child{border-bottom: 1px solid #ddd;}
#contents #container table td{font-size: 17px;}

#contents #container .bottom {font-size: 15px; width: 1553px; line-height: 50px; margin-top: 0px; background-color: #eee;}
#contents #container .bottom img{margin: 16px 0 0 10px;}

