<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>전자결재 : 기안 양식선택</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/sign/signbasic.css">
    <link rel="stylesheet" href="/css/paging.css">
    <link rel="stylesheet" href="/css/sign/selectForm.css">
</head>
<body>

    <div th:replace="/common/header.html"></div>

    <div th:replace="/sign/signSideBar.html"></div>

            <div id="container">
                <h4>공지사항</h4><hr>
                <div class="noticeArea">
                    <img class="firstImg" src="/images/circleMark.png" alt="">
                    <p class="first">
                        시스템 항목이 '문서결재'인 양식은 전자결재 내에서 결재문서가 작성되어 결재가 처리됩니다. '문서결재'외 양식은 해당 시스템에서 결재문서 관련 사항을 입력하여 결재요청하면
                        전자결재와 연계하여 결재가 처리됩니다.
                    </p>    
                </div>
                <div class="leftArea">
                    <table class="leftTbl">
                        <thead>
                            <th colspan="2">최신 기안한 양식</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="imgTd"><img src="/images/document.png" alt="문서이미지"></td>
                                <td class="txtTd"><a href="#">출장 신청서</a></td>
                            </tr>
                            <tr>
                                <td class="imgTd"><img src="/images/document.png" alt="문서이미지"></td>
                                <td class="txtTd">출장 신청서</td>
                            </tr>
                            <tr>
                                <td class="imgTd"><img src="/images/document.png" alt="문서이미지"></td>
                                <td class="txtTd">출장 신청서</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="rightArea">
                    <p>전체 <span>10</span></p>
                    <form id="searchForm" th:action="@{/registSelect/list}" method="get">
                        <select name="" id="">
                            <option value="">양식명</option>
                        </select>
                        <input type="search">
                        <button><img src="/images/searchIconOrg.png" alt=""></button>
                    </form>
                    <table class="rightTbl">
                        <thead>
                            <tr>
                                <th>NO</th>
                                <th>시스템</th>
                                <th>서식함</th>
                                <th>양식명</th>
                                <th>담당부서</th>
                                <th>담당자</th>
                            </tr>
                        </thead>
                        <!-- List 10개 들어가면 옆 테이블이랑 height 딱 맞도록 해놨슴다 -->
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>인사</td>
                                <td>공통</td>
                                <td><a href="#">출장 신청서</a></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>인사</td>
                                <td>공통</td>
                                <td>출장 신청서</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>인사</td>
                                <td>공통</td>
                                <td>출장 신청서</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7" class="hs_table_foot">
<!--                                    &lt;!&ndash; 맨 앞으로 이동 버튼 &ndash;&gt;-->
<!--                                    <button-->
<!--                                            th:onclick="'location.href=\'/sign/registSelect/list?currentPage='+ @{${selectCriteria.startPage}} + '\''"-->
<!--                                            th:disabled="${selectCriteria.pageNo == 1}"-->
<!--                                    >-->
<!--                                        <<-->
<!--                                    </button>-->
<!--                                    &lt;!&ndash; 이전 페이지 버튼 &ndash;&gt;-->
<!--                                    <button-->
<!--                                            th:onclick="'location.href=\'/sign/registSelect/list?currentPage='+ @{${selectCriteria.pageNo - 1}} + '\''"-->
<!--                                            th:disabled="${selectCriteria.pageNo == 1}"-->
<!--                                    >-->
<!--                                        <-->
<!--                                    </button>-->
<!--                                    &lt;!&ndash; 숫자 버튼 &ndash;&gt;-->
<!--                                    <th:block th:each="page : ${#numbers.sequence(selectCriteria.startPage, selectCriteria.endPage)}">-->
<!--                                        <button-->
<!--                                                th:text="${ page }"-->
<!--                                                th:onclick="'location.href=\'/sign/registSelect/list?currentPage='+ @{${page}} + '\''"-->
<!--                                                th:disabled="${ selectCriteria.pageNo eq page }">-->
<!--                                        </button>-->
<!--                                    </th:block>-->

<!--                                    &lt;!&ndash; 다음 페이지 버튼 &ndash;&gt;-->
<!--                                    <button-->
<!--                                            th:onclick="'location.href=\'/sign/registSelect/list?currentPage='+ @{${selectCriteria.pageNo + 1}} + '\''"-->
<!--                                            th:disabled="${selectCriteria.pageNo == selectCriteria.maxPage}"-->
<!--                                    >-->
<!--                                        >-->
<!--                                    </button>-->
<!--                                    &lt;!&ndash; 마지막 페이지로 이동 버튼 &ndash;&gt;-->
<!--                                    <button-->
<!--                                            th:onclick="'location.href=\'/sign/registSelect/list?currentPage='+ @{${selectCriteria.maxPage}} + '\''"-->
<!--                                            th:disabled="${selectCriteria.pageNo == selectCriteria.maxPage}"-->
<!--                                    >-->
<!--                                        >>-->
<!--                                    </button>-->
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
</body>
</html>