<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>임시저장함</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.standalone.min.css">
    <link rel="stylesheet" type="text/css" href="/css/basic.css">
    <link rel="stylesheet" type="text/css" href="/css/sign/signbasic.css">
    <link rel="stylesheet" type="text/css" href="/css/sign/signmain.css">


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.ko.min.js"></script>
    
</head>
<body>

    <div th:replace="/common/header.html"></div>

    <div th:replace="/sign/signSideBar.html"></div>

        
            <div id="main-container">
                <div class="con-header col-offset-1">
                    <h2>임시저장함</h2>
                </div>
            

                <div class="search-wrap">
                    <div class="form-group">
                        <form id="searchForm" action="/sign/tempList" method="get">
                            <input type="hidden" name="currentPage" value="1">

                            <table>
                                <colgroup>
                                    <col style="width:7%";>
                                    <col style="width:33%";>
                                    <col style="width:7%";>
                                    <col style="width:33%";>
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th scope="row">
                                            <label>양식명</label>
                                        </th>
                                        <td>
                                            <input type="text" title="양식명" name="searchForm">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <label>제목</label>
                                        </th>
                                        <td>
                                            <input type="text" title="제목" name="searchTitle">
                                        </td>
                                        <th scope="row">
                                            <label>등록일</label>
                                        </th>
                                        <td>
                                            <input type="text" title="시작일" name="searchStartDate" class="datePicker">
                                            <span>~</span>
                                            <input type="text" title="종료일" name="searchEndDate" class="datePicker">
                                            <!-- 시작일과 종료일 나중에 value로 값 받아오기 -->
                                            <button type="submit" class="btn btn-color7">검색</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>              <!-- form-group -->
                </div>  <!-- search-wrap -->

                <div class="list-wrap">
                    <table class="table table-borderd tempList">
                        <thead>
                            <tr>
                                <th width="20px"><input type="checkbox" onclick="selectAll(this)"></th>
                                <th width="80px">문서번호</th>
                                <th width="730px">문서제목</th>
                                <th width="200px">양식명</th>
                                <th width="150px">기안부서</th>
                                <th width="150px">등록일</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="sign : ${ tempList }">
                                <td><input type="checkbox" name="tempSign" th:value="${sign.signNo}"></td>
                                <td th:text="${sign.signNo}"></td>
                                <td th:text="${sign.signTitle}" name="title"></td>
                                <td th:text="${sign.signForm.name}"></td>
                                <td th:text="${sign.writer.department.dept_name}"></td>
                                <td th:text="${sign.regDate}"></td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- 페이지 처리 -->
                    <div class="pagingArea" align="center">
                        <!-- 맨 앞으로 이동 버튼 -->
                        <button
                                th:onclick="'location.href=\'/sign/tempList?currentPage='+ @{${selectCriteria.startPage}} + '&searchForm=' + @{${searchList.searchForm}} + '&searchTitle=' + @{${searchList.searchTitle}} + '&searchStartDate=' + @{${searchList.searchStartDate}} + '&searchEndDate=' + @{${searchList.searchEndDate}} + '\''"
                                th:disabled="${selectCriteria.pageNo == 1}"
                        >
                            <<
                        </button>
                        <!-- 이전 페이지 버튼 -->
                        <button
                                th:onclick="'location.href=\'/sign/tempList?currentPage='+ @{${selectCriteria.pageNo - 1}} + '&searchForm=' + @{${searchList.searchForm}} + '&searchTitle=' + @{${searchList.searchTitle}} + '&searchStartDate=' + @{${searchList.searchStartDate}} + '&searchEndDate=' + @{${searchList.searchEndDate}} + '\''"
                                th:disabled="${selectCriteria.pageNo == 1}"
                        >
                            <
                        </button>
                        <!-- 숫자 버튼 -->
                        <th:block th:each="page : ${#numbers.sequence(selectCriteria.startPage, selectCriteria.endPage)}">
                            <button
                                    th:text="${ page }"
                                    th:onclick="'location.href=\'/sign/tempList?currentPage='+ @{${page}} + '&searchForm=' + @{${searchList.searchForm}} + '&searchTitle=' + @{${searchList.searchTitle}} + '&searchStartDate=' + @{${searchList.searchStartDate}} + '&searchEndDate=' + @{${searchList.searchEndDate}} + '\''"
                                    th:disabled="${ selectCriteria.pageNo eq page }">
                            </button>
                        </th:block>

                        <!-- 다음 페이지 버튼 -->
                        <button
                                th:onclick="'location.href=\'/sign/tempList?currentPage='+ @{${selectCriteria.pageNo + 1}} + '&searchForm=' + @{${searchList.searchForm}} + '&searchTitle=' + @{${searchList.searchTitle}} + '&searchStartDate=' + @{${searchList.searchStartDate}} + '&searchEndDate=' + @{${searchList.searchEndDate}} + '\''"
                                th:disabled="${selectCriteria.pageNo == selectCriteria.maxPage}"
                        >
                            >
                        </button>
                        <!-- 마지막 페이지로 이동 버튼 -->
                        <button
                                th:onclick="'location.href=\'/sign/tempList?currentPage='+ '&searchForm=' + @{${searchList.searchForm}} + '&searchTitle=' + @{${searchList.searchTitle}} + '&searchStartDate=' + @{${searchList.searchStartDate}} + '&searchEndDate=' + @{${searchList.searchEndDate}} + '\''"
                                th:disabled="${selectCriteria.pageNo == selectCriteria.maxPage}"
                        >
                            >>
                        </button>
                    </div>
                </div> <!-- list-wrap -->

                <div class="col-2-offset-8 signAll" align="right">
                    <button id="deleteChecked">삭제</button>
                </div>
            </div>
        </div>
    </div>
    

    <script type="text/javascript">
        $('.datePicker').datepicker({
            format : "yyyy-mm-dd",
            language : "kr",
            todayHighlight : true
        });

        function selectAll(selectAll)  {
            const checkboxes = document.querySelectorAll('input[type="checkbox"]');

            checkboxes.forEach((checkbox) => {
                checkbox.checked = selectAll.checked
            })
        }

        if(document.querySelectorAll('.tempList td')){
            const $tds = document.getElementsByName('title');
            for(let i = 0; i < $tds.length; i++) {

                $tds[i].onmouseenter = function() {
                    this.parentNode.style.backgroundColor = "lightgray";
                    this.style.cursor = "pointer";
                }

                $tds[i].onmouseout = function() {
                    this.parentNode.style.backgroundColor = "white";
                }

                $tds[i].onclick = function() {
                    const no = this.parentNode.children[1].innerText;
                    location.href = "/sign/tempDetail?no=" + no;
                }
            }
        }

        if(document.getElementById('deleteChecked')){

            const deleteChecked = document.getElementById('deleteChecked');


            deleteChecked.onclick = function (){

                let checkArr = [];
                $("input[name='tempSign']:checked").each(function(){
                    const signNo = $(this).val();
                    checkArr.push(signNo);
                })

                console.table(checkArr);

                location.href = "/sign/deleteChecked?checkArr=" + checkArr;

            }

        }

        let message = '[[${message}]]';

        if(message != null && message != ''){
            alert(message);
        }
    </script>
</body>
</html>