<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>임시저장함 상세보기</title>
    <link rel="shortcut icon" th:href="@{ /images/favicon.gif }" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/basic.css">
    <link rel="stylesheet" type="text/css" href="/css/sign/signbasic.css">
    <link rel="stylesheet" type="text/css" href="/css/sign/signdetail.css">


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- summernote -->
    <script src="/js/summernote/summernote-lite.js"></script>
    <script src="/js/summernote/lang/summernote-ko-KR.js"></script>
    <link rel="stylesheet" href="/css/summernote/summernote-lite.css">
</head>
<body>

<div th:replace="/common/header.html"></div>

<div th:replace="/sign/signSideBar.html"></div>

<div id="main-container">
    <div class="con-header col-offset-1">
        <h2>임시저장함</h2>
    </div>

    <div class="details">
        <div class="buttons" align="right">
            <button id="rewrite" type="submit" form="signform" onclick='btn_click("rewrite");'>수정</button>
            <button id="delete" type="submit" form="signform" onclick='btn_click("delete");'>삭제</button>
            <button id="print">인쇄</button>
            <button id="backtoList">목록</button>
        </div>

        <div id="detail">
            <div id="detail-header">
                <h1 align="center" th:text="${signDetail.signForm.name}"></h1>
            </div>

            <div id="approve-list" align="right">
                <table>
                    <tr>
                        <th style="border : 1px solid; width:20px" rowspan="2">발신부서</th>
                        <th style="border : 1px solid; width:100px">기안</th>
                        <th:block th:if="${approver != null}" th:each="approve : ${signDetail.approver}">
                            <th th:text="${approve.signType}" style="border : 1px solid; width:100px; text-align: center"></th>
                        </th:block>
                    </tr>
                    <tr>
                        <td th:text="${signDetail.writer.mem_name}" style="border : 1px solid; width:100px; text-align: center"></td>
                        <th:block th:if="${approver != null}" th:each="approve : ${signDetail.approver}">
                            <td th:if="${approve.isApproved eq 'N'}" th:utext="${approve.approver.approverName} + ' ' + ${approve.approver.approverRank} + '<br>결재대기'" style="border : 1px solid; width:100px; text-align: center"></td>
                            <td th:if="${approve.isApproved eq 'Y' and approve.isRefused eq 'N'}" th:utext="${approve.approver.approverName} + ' ' + ${approve.approver.approverRank} + '<br>결재완료'" style="border : 1px solid; width:100px; text-align: center"></td>
                            <td th:if="${approve.isApproved eq 'Y' and approve.isRefused eq 'Y'}" th:utext="${approve.approver.approverName} + ' ' + ${approve.approver.approverRank} + '<br>반려'" style="border : 1px solid; width:100px; text-align: center"></td>
                        </th:block>
                    </tr>
                </table>
            </div>

            <div id="table-form">
                <form id="signform" method="post">
                    <input type="hidden" name="signNo" th:value="${signDetail.signNo}">
                    <table class="table detail">
                        <caption></caption>
                        <colgroup>
                            <col style="width: 15%;">
                            <col style="width: 35%;">
                            <col style="width: 15%;">
                            <col style="width: 35%;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>문서번호</th>
                            <td th:text="${signDetail.signNo}"></td>
                            <th>기안일자</th>
                            <td th:text="${signDetail.regDate}"></td>
                        </tr>
                        <tr>
                            <th>기안자</th>
                            <td th:text="${signDetail.writer.mem_name}"></td>
                            <th>기안부서</th>
                            <td th:text="${signDetail.writer.department.dept_name}"></td>
                        </tr>
                        <tr th:colspan="4">
                            <th>참조자</th>
                            <td>
                                <th:block th:each="reference : ${signDetail.referencer}" th:colspan="3">
                                    <span th:if="${ reference.referencerNo != 0 }" th:text="${ reference.referencer.referencerName } + ' ' + ${ reference.referencer.referencerRank } + ' ' " + ></span>
                                </th:block>
                            </td>
                        </tr>
                        <tr th:colspan="4">
                            <th>수신처</th>
                            <td>
                                <th:block  th:each="receive : ${signDetail.receiver}" th:colspan="3">
                                    <span th:if="${ receive.receiverNo != 0 }" th:text="${ receive.receiver.receiverName } + ' ' + ${ receive.receiver.receiverRank } + ' ' "></span>
                                </th:block>
                            </td>
                        </tr>
                        <tr>
                            <th>문서제목</th>
                            <td th:text="${signDetail.signTitle}" th:colspan="3"></td>
                        </tr>
                        <tr>
                            <td th:if="${signDetail.signContent != null}" th:text="${signDetail.signContent}" th:colspan="4"></td>
                        </tr>
                        <tr th:if="${signDetail.file.originName != null}">
                            <td th:colspan="4">
                                <a class="fileDownload" th:href="|/upload/signFile/${ signDetail.file.getSaveName()}|" th:value="${ signDetail.file.getOriginName() }" download>
                                    <img th:src="@{/images/downloadIcon.png}" alt="파일다운로드">
                                    <span th:text="${ signDetail.file.originName }"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    function btn_click(str){
        if(str=="rewrite"){
            signform.action = "/sign/reWriteRegistForm";
        }else if(str=="delete"){


            signform.action = "/sign/delete";
        }
    }

    var initBodyHtml;

    function beforePrint(){
        initBodyHtml = document.body.innerHTML;
        document.body.innerHTML = document.getElementById('detail').innerHTML;
    }

    function afterPrint(){
        document.body.innerHTML = initBodyHtml;
    }

    const $print = document.getElementById("print");
    $print.onclick = function(){
        window.onbeforeprint = beforePrint;
        window.onafterprint = afterPrint;
        window.print();
    }

    const $backtoList = document.getElementById("backtoList");
    $backtoList.onclick = function(){
        location.href = "/sign/tempList";
    }


</script>

</body>
</html>