<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결재선</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
    #check-btn {display: none;}
    #check-btn:checked ~ .menubars { display: block;}
    .menubars { display: none;}

    #container{width: 100%;}
    #search-box {float:left; width:350px; height: 500px; border: 2px solid #EAEAEA;}
    #select-move-box {float:left; width : 120px; height: 200px; border: 2px solid #EAEAEA; margin: 200px 20px;}
    #select-move-box tr td{text-align: center;}
    #select-box {float:left; width: 500px; height: 500px; border: 2px solid #EAEAEA;}

    #submit-buttons{position: static}
</style>
</head>
<body>
    <div id="wrap">

        <div id="header" style="background-color: #797578;">
            <h2 style="color: white;">결재선지정</h2>
        </div>

        <div id="container">

            <div id="search-box">
                <table>
                    <thead>
                        <tr>
                            <th><button>조직도</button></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input id="check-btn" type="checkbox"/>
                                <label for="check-btn">회사조직도</label>
                                    <ul class="menubars" th:each="department : ${ deptList }" >
                                        <ul th:text="${ department.dept_name }" th:value="${ department.dept_code }" class="dept">
                                            <th:block th:each="member : ${ memberList }" >
                                                <li>
                                                <button th:if="${ member.dept_code.equals(${ department.dept_code})}" th:text="${ member.mem_name }"></button>
                                                </li>
                                            </th:block>
                                        </ul>
                                    </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="select-move-box">
                <table align="center">
                    <thead>
                        <tr>
                            <th>결재방법</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="hidden" name="signType" value="결재">결재
                            </td>
                        </tr>
                        <tr>
                            <td><br></td>
                        </tr>
                        <tr>
                            <td><button id="add">></button></td>
                        </tr>
                        <tr>
                            <td><button id="remove"><</button></td>
                        </tr>
                        <tr>
                            <td><button id="refresh">새로고침</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="select-box">
                <h4>결재선 정보</h4>
            </div>
        </div>

        <div id="submit-buttons" align="right">
            <button id="apply">적용</button>
            <button id="close">닫기</button>
        </div>
    </div>

<script>

    $("#close").on("click",function(){
        window.close();
    })

</script>

</body>
</html>