<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
    <link rel="stylesheet" th:href="@{/css/common/reset.css}">
    <link rel="stylesheet" th:href="@{/css/common/basic.css}">
    <link rel="stylesheet" th:href="@{/css/notice/noticeList.css}">
</head>
<body>
    <div id="wrap">
        <div th:replace="common/header.html"></div>
        <div id="contents">
            <div id="sideBar">
                <h3>게시판</h3>
                <ul>
                    <li class="main">
                        <a href="th:href=@{/board/list}">자유 게시판</a>
                        <ul class="sub sub1">
                            <li><a th:href="@{/board/list}">자유 게시판</a></li>
                            <li><a href="#">익명 게시판</a></li>
                        </ul>
                    </li>
                    <li class="main"><a href="#">업무 게시판</a>
                        <ul class="sub sub2">
                            <li><a href="#">부서별 공지사항</a></li>
                            <li><a th:href="@{/file/fileList}">파일 게시판</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="admin"><a href="">게시판관리(관리자)</a></div>
            </div>
            <div id="container">
                <h4>파일 게시판</h4><hr>
                <p>전체 <span th:text="${ selectCriteria.totalCount }"></span></p>
                <form th:action="@{/fileList/fileList}" method="get">
                    <input type="hidden" name="currentPage" value="1">
<!--                    <div class="date">-->
<!--                        <input type="date"> ~ <input type="date">-->
<!--                    </div>-->
                    <select name="searchCondition" id="searchCondition">
                        <option value="title">제목</option>
                        <option value="writer">작성자</option>
                    </select>
                    <input type="search" name="searchValue" id="searchValue">
                    <button>검색</button>
                </form>
                <table id="listArea">
                    <thead>
                        <tr>
                        <th>번호</th>
                        <th><img th:src="@{/images/clip.png}" alt="첨부파일"></th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>등록일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="fileList : ${ fileList }">
                            <td th:text="${ fileList.fbNo }"></td>
                  			<td th:if="${fileList.file.ffOriginName != null}"><img th:src="@{/images/clip.png}" alt="첨부파일"></td>
                            <td th:if="${fileList.file.ffOriginName == null}"></td>
                            <td th:text="${ fileList.fbTitle }"></td>
                            <td><span th:text="${ fileList.member.mem_name}"></span>&nbsp;
                            <td th:text="${ fileList.fbDate }"></td>
                        </tr>
                    </tbody>    
                </table>
                <button class="registBtn" onclick="location.href='/file/fileRegist'">등록하기</button>
                <div th:replace="fileBoard/paging";></div>
            </div>
        </div>
    </div>
    
    <script th:inline="javascript">
        //게시글 상세조회를 위한 스크립트
        if(document.querySelectorAll("#listArea td")){
            const $tds = document.querySelectorAll("#listArea td");
            for(let i = 0; i < $tds.length; i++){

                $tds[i].onmouseenter = function(){

                    this.parentNode.style.cursor = "pointer";
                }

                $tds[i].onclick = function() {
                    const no = this.parentNode.children[0].innerText;
                    location.href = "/file/fileDetail?fbNo=" + no;
                }
            }
        }

        //게시글 수정 완료 시 알럿창 띄우기
        let message = [[${message}]];

        if(message != null && message != '') {
            alert(message);
        }
    </script>
</body>
</html>