<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>공지사항:상세보기</title>
    <link rel="stylesheet" th:href="@{/css/common/reset.css}">
    <link rel="stylesheet" th:href="@{/css/common/basic.css}">
    <link rel="stylesheet" th:href="@{/css/notice/noticeDetail.css}">
</head>
<body>
    <div id="wrap">
        <div th:replace="common/header.html"></div>
        <div id="contents">
            <div id="sideBar">
                <h3>게시판</h3>
                <ul>
                    <li class="main">
                        <a href="th:href=@{/board/list}">자유 게시판</a>
                        <ul class="sub sub1">
                            <li><a th:href="@{/board/list}">자유 게시판</a></li>
                            <li><a href="#">익명 게시판</a></li>
                        </ul>
                    </li>
                    <li class="main"><a href="#">업무 게시판</a>
                        <ul class="sub sub2">
                            <li><a href="#">부서별 공지사항</a></li>
                            <li><a th:href="@{/file/fileList}">파일 게시판</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
                <div id="container">
                    <h4>파일 게시판</h4><hr>
                        <p class="title">
                            <span th:text="${ Detail.fbTitle }"></span><br>
                     		<span class="writer" th:text="${ Detail.member.mem_name}"></span>
<!--/*   
                            <span class="writer">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                         <span class="writer" th:text="${ fileList.dept.dept_name }"></span>
     */--> 
                            <span>&nbsp;&nbsp;</span><span class="date" th:text="${ Detail.fbDate }"></span><br>
                            <a th:if="${Detail.file.ffOriginName != null}" class="fileDown"
                               
                                th:href="|/upload/fileFile/${ Detail.file.getFfSaveName()}|"
         
                                th:value="${ Detail.file.getFfOriginName() }" download>
                                <img th:src="@{/images/downloadIcon.png}" alt="파일다운로드">
                                <span>첨부파일다운로드(<span th:text="${ Detail.file.getFfOriginName }"></span>)</span>
                            </a>
                        </p>

                    <div class="body">
                        <p th:utext="${ Detail.fbContent }">
                    </div>
                  <div class="btnArea">
                        <button th:if="${#authentication.getPrincipal().getMem_num() eq Detail.member.mem_num }" class="list update"
                                th:onclick="|location.href='@{ /file/fileUpdate(no=${ Detail.fbNo }) }'|">수정</button>
               

                        <button th:if="${#authentication.getPrincipal().getMem_num() eq Detail.member.mem_num }" class="list delete" id="deleteBtn"  onclick="removeCheck()">삭제</button>
                        <button class="list" onclick="location.href='/file/fileList'">목록</button>

                    </div>

                </div>
    
        </div>
    </div>
    

    <th:block layout:fragment="script">
        <script th:inline="javascript">
            /*<![CDATA[*/

            // 게시글 삭제
            function removeCheck() {
                const no = [[ ${Detail.fbNo} ]];
                if ( !confirm("게시글을 삭제할까요?") ) {
                    return false;
                }

                const formHtml = `
                    <form id="deleteForm" action="/file/fileDelete?=${no}" method="get">
                        <input type="hidden" id="fbNo" name="fbNo" value="${no}" />
                    </form>
                `;
                const doc = new DOMParser().parseFromString(formHtml, 'text/html');
                const form = doc.body.firstChild;
                document.body.append(form);
                document.getElementById('deleteForm').submit();
            }


        </script>
    </th:block>
</body>
</html>