<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>부서별 공지사항:상세보기</title>
    <link rel="shortcut icon" th:href="@{ /images/favicon.gif }" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/common/reset.css}">
    <link rel="stylesheet" th:href="@{/css/common/basic.css}">
    <link rel="stylesheet" th:href="@{/css/notice/noticeDetail.css}">
</head>
<body>
    <div id="wrap">
        <div th:replace="common/header.html"></div>
        <div id="contents">
            <div id="sideBar">
                <h3>게시판</h3>
                <ul>
                    <li class="main">
                        <a href="th:href=@{/board/list}">자유 게시판</a>
                        <ul class="sub sub1">
                            <li><a th:href="@{/board/list}">자유 게시판</a></li>
                            <li><a th:href="@{/board/eiboard/list}">익명 게시판</a></li>
                        </ul>
                    </li>
                    <li class="main"><a href="#">업무 게시판</a>
                        <ul class="sub sub2">
                            <li><a th:href="@{/deptNotice/list}">부서별 공지사항</a></li>
                            <li><a th:href="@{/file/fileList}">파일 게시판</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="admin"><a th:href="@{ /blacklist/list }">게시판관리(관리자)</a></div>
            </div>
                <div id="container">
                    <h4>부서별 공지사항</h4><hr>
                    <p class="title">
                        <span th:text="${ deptNotice.db_title }"></span><br>
                        <span class="writer" th:text="${ deptNotice.member.mem_name }"></span>
                        <span class="writer">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                        <span class="writer" th:text="${ deptNotice.dept.dept_name }"></span>
                        <span>&nbsp;&nbsp;</span><span class="date" th:text="${ deptNotice.db_date }"></span><br>
                    </p>

                    <div class="body">
                        <p th:utext="${ deptNotice.db_contents }">
                    </div>
                    <div class="btnArea">
                        <button th:if="${ #authentication.getPrincipal().getMem_num()  eq deptNotice.member.mem_num }" class="list update"
                                th:onclick="|location.href='@{ /deptNotice/update(db_no=${ deptNotice.db_no }) }'|">수정</button>
                        <button th:if="${#authentication.getPrincipal().getMem_num() eq deptNotice.member.mem_num }" class="list delete" id="deleteBtn"  onclick="removeCheck()">삭제</button>
                        <button class="list" onclick="location.href='/deptNotice/list'">목록</button>
                    </div>
                </div>
                </div>
        </div>
    <th:block layout:fragment="script">
                <script th:inline="javascript">
                    /*<![CDATA[*/

                    // 게시글 삭제
                    function removeCheck() {
                        const db_no = [[ ${ deptNotice.db_no } ]];
                        if ( !confirm("게시글을 삭제할까요?") ) {
                            return false;
                        }

                        const formHtml = `
                            <form id="deleteForm" action="/deptNotice/delete?db_no=${db_no}" method="get">
                                <input type="hidden" id="db_no" name="db_no" value="${db_no}" />
                            </form>
                        `;
                        const doc = new DOMParser().parseFromString(formHtml, 'text/html');
                        const form = doc.body.firstChild;
                        document.body.append(form);
                        document.getElementById('deleteForm').submit();
                    }

                    /*]]>*/
                </script>
    </th:block>



</body>
</html>