<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>사내소식:등록</title>
    <!-- include libraries(jQuery, bootstrap) -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- include summernote css/js -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/common/basic.css}">
    <link rel="stylesheet" th:href="@{/css/gallery/galleryRegist.css}">
</head>
<body>
<div id="wrap" style="margin-top: -20px;">
    <div th:replace="common/header.html"></div>
    <div id="contents">
        <div id="sideBar">
            <h3>공지사항</h3>
            <ul>
                <li class="main">
                    <a th:href="@{/notice/list}">공지사항</a>
                </li>
                <li class="main">
                    <a th:href="@{/notice/news/list}">사내소식</a>
                </li>
                <li class="main">
                    <a href="../gallery/galleryList.html">갤러리</a>
                </li>
            </ul>
        </div>
        <div id="container">
            <h4>사내소식</h4><hr>
            <form th:action="@{/notice/gallery/regist}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="currentPage" value="1">
            <table>
                <input
                        type="hidden"
                        id="mem_num"
                        name="mem_num"
                        th:value="${ #authentication.getPrincipal().getMem_num() }">
                <tr>
                    <th>제목</th>
                    <td><input type="text" placeholder="제목을 입력하세요" name="title"></td>
                </tr>
                <tr>
                    <th>등록자</th>
                    <td><span th:text="${ #authentication.getPrincipal().getMem_name() }"></span>&nbsp;
                        <span th:text="${ #authentication.getPrincipal().getDepartment().getDept_name() }"></span></td>
                </tr>
                <tr class="imgArea">
                    <th>사진첨부</th>
                    <td>
                        <div class="content-img-area1" id="contentImgArea1">
                            <img id="contentImg1" style="width: 150px; height: 150px">
                        </div>
                        <div class="content-img-area2" id="contentImgArea2">
                            <img id="contentImg2" style="width: 150px; height: 150px">
                        </div>
                        <div class="content-img-area3" id="contentImgArea3">
                            <img id="contentImg3" style="width: 150px; height: 150px">
                        </div>
                        <div class="content-img-area4" id="contentImgArea4">
                            <img id="contentImg4" style="width: 150px; height: 150px">
                        </div>
                        <div class="content-img-area5" id="contentImgArea5">
                            <img id="contentImg5" style="width: 150px; height: 150px">
                        </div>
                        <div class="content-img-area6" id="contentImgArea6">
                            <img id="contentImg6" style="width: 150px; height: 150px">
                        </div>
                        <div class="content-img-area7" id="contentImgArea7">
                            <img id="contentImg7" style="width: 150px; height: 150px">
                        </div>
                        <div class="content-img-area8" id="contentImgArea8">
                            <img id="contentImg8" style="width: 150px; height: 150px">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>사진 메모</th>
                    <td colspan="3" style="padding-top : 10px;">
                        <textarea id="summernote" name="memo"></textarea>
                    </td>
                </tr>
            </table>
                <div class="thumbnail-file-area">
                    <input type="file" id="thumbnailImg1" name="thumbnailImg1" onchange="loadImg(this,1)">
                    <input type="file" id="thumbnailImg2" name="thumbnailImg2" onchange="loadImg(this,2)">
                    <input type="file" id="thumbnailImg3" name="thumbnailImg3" onchange="loadImg(this,3)">
                    <input type="file" id="thumbnailImg4" name="thumbnailImg4" onchange="loadImg(this,4)">
                </div>
                <button class="registBtn" type="submit">등록하기</button>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        //여기 아래 부분
        $('#summernote').summernote({
            height: 100,                 // 에디터 높이
            focus: true,                  // 에디터 로딩후 포커스를 맞출지 여부
            lang: "ko-KR",					// 한글 설정
            placeholder: '내용을 입력하세요',	//placeholder 설정
            toolbar: [],
            fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋움체','바탕체'],
            fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72']
        });
    });

    /* 이미지 미리보기 관련 스크립트 */
    const $titleImgArea = document.getElementById("titleImgArea");
    const $contentImgArea1 = document.getElementById("contentImgArea1");
    const $contentImgArea2 = document.getElementById("contentImgArea2");
    const $contentImgArea3 = document.getElementById("contentImgArea3");

    $titleImgArea.onclick = function() {
        document.getElementById("thumbnailImg1").click();
    }

    $contentImgArea1.onclick = function() {
        document.getElementById("thumbnailImg2").click();
    }

    $contentImgArea2.onclick = function() {
        document.getElementById("thumbnailImg3").click();
    }

    $contentImgArea3.onclick = function() {
        document.getElementById("thumbnailImg4").click();
    }

    /* 이미지 미리보기 관련 함수(File API 활용하기) */
    function loadImg(value, num) {

        /* https://developer.mozilla.org/ko/docs/Web/API/FileReader 참고 (MDN 사이트 참고)*/
        if (value.files && value.files[0]) {			// value.files[0]는 파일 이름
            const reader = new FileReader();

            /*
                FileReader 객체는 웹 애플리케이션이 비동기적으로 데이터를 읽기 위하여 읽을 파일을 가리키는 File 혹은 Blob 객체를
                이용해 파일의 내용을(혹은 raw data버퍼로) 읽고 사용자의 컴퓨터에 저장하는 것을 가능하게 하는 것
                Blob(Binary large object) : 파일류의 불변하는 미가공 데이터로 텍스트와 이진 데이터의 형태로 읽을 수 있음
            */

            // reader.readAsText(value.files[0]);			// 텍스트 파일을 읽을 때 사용 (이미지 파일을 텍스트로 읽어서 글자가 깨짐)
            // reader.readAsArrayBuffer(value.files[0]);	// 데이터를 일정한 크기로 조금씩(파일을 표현하는 ArrayBuffer) 서버로 보낼 때
            // reader.readAsBinaryString(value.files[0]);	// 이진 데이터를 서버로 보낼 때 사용
            reader.readAsDataURL(value.files[0]);		// Base64방식으로 파일을 FileReader에 전달 (Base64로 인코딩한 것은 브라우저가 원래 데이터로 만들게 됨)

            /* load 이벤트의 핸들러로 읽기 동작이 성공적으로 완료 되었을 때마다 발생한다. */
            reader.onload = function(e) {				// load EventListener에 function 등록 (FileReader에서 전달 받은 파일을 다 읽으면 리스너에 등록한 function이 호출 됨)
                switch(num){
                    case 1:
                        console.log(e.target.result);		// e.target.result는 인코딩한 결과로 img태그의 src로 사용할 수 있음
                        document.getElementById("titleImg").src = e.target.result;
                        break;
                    case 2:
                        document.getElementById("contentImg1").src = e.target.result;
                        break;
                    case 3:
                        document.getElementById("contentImg2").src = e.target.result;
                        break;
                    case 4:
                        document.getElementById("contentImg3").src = e.target.result;
                        break;
                }
            }
        }
    }
</script>
</body>

</html>