<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>basic</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/basic.css">
    <link rel="stylesheet" href="/css/board.css">    
</head>


<body>
    <div id="wrap">
    <div th:replace="common/header.html"></div>
        
    <div id="messageheader">
        <select class="form-select" aria-label="Default select example" style="width: 110px; position: absolute; top:140px; left:380px; border: 1px solid #bbb; border-radius: 8px; padding: 10px 12px; font-size: 14px; ">
            <option selected>전체쪽지</option>
            <option value="1">받은쪽지</option>
            <option value="2">보낸쪽지</option>
            <option value="3">보관쪽지</option>
          </select>
        <div id="searchbox">
            <table>
                <div class="search" style="position: absolute; width: 300px; left: 500px; top: 140px;" >
                    <input type="text" placeholder="검색어 입력" style=" width: 100%; border: 1px solid #bbb; border-radius: 8px; padding: 10px 12px; font-size: 14px;">
                    <img src="../resources/images/pngwing.com.png" style=" position : absolute; width: 17px; top: 12px; right: -15px; margin: 0;" >   
                </div>
            </table>
        </div>
        <button type="button" style="position: absolute; top: 210px; left: 340px; padding: 6px 8px;" >삭제</button>
    </div>
       
        <div id="visual" >
            <div class="table-area" style="position: absolute; top: 250px;left: 350px;width: 1350px;" >     
                <table align="center" id="">
                    <tr>
                        <th><input type="checkbox" style="margin: 10px;"></button></th>
                        <th width="100px" style="border: 1px solid black";>받는사람 </th>
                        <th width="" style="border: 1px solid black">내용</th>
                        <th width="100px" style="border: 1px solid black">보낸날짜</th>
                        <th width="100px" style="border: 1px solid black">받은날짜</th>
                        <th width="100px" style="border: 1px solid black">읽기여부</th>
                    </tr>

                </table>
            </div>
        </div>

	<!-- 페이지 처리 -->
	<div class="pagingArea" align="center">
		<!-- 맨 앞으로 이동 버튼 -->
		<button
			th:onclick="'location.href=\'/ms/send?currentPage='+ @{${selectCriteria.startPage}} + '\''"
			th:disabled="${selectCriteria.pageNo == 1}"><<</button>
		<!-- 이전 페이지 버튼 -->
		<button
			th:onclick="'location.href=\'/ms/send?currentPage='+ @{${selectCriteria.pageNo - 1}} + '\''"
			th:disabled="${selectCriteria.pageNo == 1}"><</button>
		<!-- 숫자 버튼 -->
		<th:block
			th:each="page : ${#numbers.sequence(selectCriteria.startPage, selectCriteria.endPage)}">
			<button th:text="${ page }"
				th:onclick="'location.href=\'/ms/send?currentPage='+ @{${page}} + '\''"
				th:disabled="${ selectCriteria.pageNo eq page }"></button>
		</th:block>

		<!-- 다음 페이지 버튼 -->
		<button
			th:onclick="'location.href=\'/ms/send?currentPage='+ @{${selectCriteria.pageNo + 1}} + '\''"
			th:disabled="${selectCriteria.pageNo == selectCriteria.maxPage}">
			></button>
		<!-- 마지막 페이지로 이동 버튼 -->
		<button
			th:onclick="'location.href=\'/ms/send?currentPage='+ @{${selectCriteria.maxPage}} + '\''"
			th:disabled="${selectCriteria.pageNo == selectCriteria.maxPage}">
			>></button>
	</div>


        <div id="contents">
            <div id="sideBar">
                <h3>쪽지함</h3>
                <ul>
                    <li class="main"><a href="/ms/msinsert">쪽지보내기</a></li>
                    <li class="main"><a href="/ms/recp">받은쪽지함</a></li>
                    <li class="main"><a href="/ms/send">보낸쪽지함</a></li>
                    <li class="main"><a href="/ms/all">쪽지보관함</a></li>
                </ul>
            </div>
        </div>
        </div>
</body>
</html>