<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>basic</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/basic.css">
    <link rel="stylesheet" href="/css/board.css">    
</head>
<body>
    <div id="wrap">
        <div id="header">
            <h1 class="logo"><a href="../main/main.html"><img src="/images/logo.png" alt="로고 이미지"></a></h1>
            <ul class="lnb">
                <li><a href="../common/mypage.html">마이페이지</a></li>
                <li><a href="../login.html">로그아웃</a></li>
            </ul>
            <ul class="gnb">
                <li><a href="../board/notice/noticeList.html">공지사항</a></li>
                <li><a href="../board/free/freeList.html">게시판</a></li>
                <li><a href="../calendar/cd_main.html">일정관리</a></li>
                <li><a href="../sign/testsignmain.html">전자결재</a></li>
                <li><a href="../message/messageRecpBox.html">쪽지함</a></li>
                <li><a href="../manage/emplManage/emplList.html">직원관리</a></li>
            </ul>
        </div>

     <div id="visual" >
            <div class="table-area" style="position: absolute; top: 250px;left: 350px;width: 1350px;" >     
                <table align="center" id="">
                    <tr>
                        <th width="auto">제목</th>
                        <th width="400px" style="border: 1px solid black">
                            <input type="text" name="text" size="20" style="width:100%; border: 1px;">
                        </th>
                    </tr>
                    <tr>
                        <th width="auto">받는사람</th>
                        <th width="400px" style="border: 1px solid black">
                            <input type="text" name="text" size="20" style="width:100%; border: 1px;">
                        </th>
                    </tr>
                    <tr>
                        <th colspan="2" style="border: 1px solid black">
                            <textarea name="content" rows="10" style="width:100%; border: 0; resize: none;"></textarea>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="2">
                            <input type="file">
                        </th>
                    </tr>
                    <button type="submit" style="position: absolute; top: 250px; left: 420px; padding: 6px 8px;" >등록</button>
                    <button onclick="back" style="position: absolute; top: 250px; left: 340px; padding: 6px 8px;" >뒤로가기</button>
                </table>
            </div>
        </div>

        <div id="contents">
            <div id="sideBar">
                <h3>쪽지함</h3>
                <ul>
                    <li class="main"><a href="/ms/msinsert">쪽지보내기</a></li>
                    <li class="main"><a href="/ms/recp">받은쪽지함</a></li>
                    <li class="main"><a href="./messageSendbox.html">보낸쪽지함</a></li>
                    <li class="main"><a href="./messageAllBox.html">쪽지보관함</a></li>
                </ul>
            </div>
        </div>
        </div>
</body>
</html>